    <!-- donation section -->
    <section class="donations">
        <div class="container">
            <div class="inner_conatiner">
                <div class="donation_container">
                    <div class="donation_left">
                      {% if section.settings.heading != blank %}
                        <h3 class="donation-sub-heading">{{ section.settings.heading }}</h3>
                      {% endif %}
                      {% if section.settings.paragraph != blank %}
                        <p>{{ section.settings.paragraph }}</p>
                      {% endif %}
                        <div class="icon_box_donations">
                          {% for block in section.blocks %}
                            <div class="donation_inner">
                               {% if block.settings.logo != blank %}
                                <img src="{{ block.settings.logo | img_url:'master' }}images//drop.png" alt="icon">
                               {% endif %}
                               {% if block.settings.heading != blank %}
                                <h3>{{ block.settings.heading }}</h3>
                               {% endif %}
                            </div>
                          {% endfor %}
                        </div>
                    </div>
                  {% if section.settings.image != blank %}
                    <div class="donation_right">
                        <img src="{{ section.settings.image | img_url:'master' }}images/03_Health.jpg " alt="health">
                    </div>
                  {% endif %}
                </div>
            </div>
        </div>
    </section>

{% schema %}
  {
    "name": "Donation",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "paragraph",
        "label": "Paragraph"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
     "blocks": [
     {
       "name": "Logo",
       "type": "logo",
       "settings": [
         {
           "type": "image_picker",
           "id": "logo",
           "label": "Image"
         },
         {
           "type":"text",
           "id": "heading",
           "label": "Heading"
         }
       ]
     }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}