    <div class="_30-days-section">
        <div class="pricing-column basic-column">
            <div class="container">
              {% if section.settings.image != blank %}
                <img src="{{ section.settings.image | img_url:'master' }}" width="265" alt="money" class="moneyback-img">
              {% endif %}
              {% if section.settings.heading != blank %}
                <div class="plan-name">{{ section.settings.heading }}</div>
              {% endif %}
                <div class="gua-text-block">
                  {% if section.settings.paragraph != blank %}
                    <p>{{ section.settings.paragraph }}</p>
                  {% endif %}

                  {% if section.settings.desktop_btn_text != blank %}
                        <div class="desktop_button">
                    <a href="{{ section.settings.desktop_btn_url }}" style="background-color:{{ section.settings.button_bg_color }}; color:{{ section.settings.btn_text_color }}" class="button-2 full-button w-inline-block">
                        <div class="text-block-4">{{ section.settings.desktop_btn_text }}<span class="text-span-4">
                                <i class="fa fa-arrow-circle-right " aria-hidden="true"></i>
                            </span>
                        </div>
                    </a>
                   </div>
                  {% endif %}

              {% if section.settings.mobile_btn_text != blank %}
                <div class="mobile_button">
                    <a href="{{ section.settings.mobile_btn_url }}" style="background-color:{{ section.settings.button_bg_color }}; color:{{ section.settings.btn_text_color }}" class="button-2 full-button w-inline-block">
                        <div class="text-block-4">{{ section.settings.mobile_btn_text }}<span class="text-span-4">
                                <i class="fa fa-arrow-circle-right " aria-hidden="true"></i>
                            </span>
                        </div>
                    </a>
                </div>
              {% endif %}

                </div>
            </div>
        </div>
    </div>


{% schema %}
  {
    "name": "Gurantee",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "paragraph",
        "label": "Paragraph"
      },
      {
        "type": "text",
        "id": "desktop_btn_text",
        "label": "Desktop Button text"
      },
      {
        "type": "text",
        "id": "mobile_btn_text",
        "label": "Mobile Button text"
      },
      {
        "type": "url",
        "id": "desktop_btn_url",
        "label": "Desktop Button Link"
      },
      {
        "type": "url",
        "id": "mobile_btn_url",
        "label": "Mobile Button Link"
      },
      {
        "type": "color",
        "id": "button_bg_color",
        "label": "Button Background Color"
      },
      {
        "type": "color",
        "id": "btn_text_color",
        "label": "Button Text Color"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}