{{ 'our-section.css' | asset_url | stylesheet_tag }}
<section class="our-section">
  <div class="page-width">
    <div class="our-main-heading">
      <h2>{{ section.settings.heading }}</h2>
    </div>
    <div class="our-data-wapper">
      {% for block in section.blocks %}
      <div class="our-data-item" style="width:{{ block.settings.width }}%;">
        <img src="{{ block.settings.image | img_url: 'master' }}" />
        
        <h3>{{ block.settings.heading }}</h3>
        {{ block.settings.sub_heading }}
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
"name": "Our Story",
"settings": [
  {
  "type": "text",
  "label": "Heading",
  "id": "heading"
  }
],
"blocks": [
{
"type": "Our_Data",
"name": "Item Data",
"settings": [
{
"type":"select",
"id":"width",
"label":"Column Width",
"options":[
{"value":"33.33","label":"33.33%"},
{"value":"50","label":"50%"},
{"value":"100","label":"100%"}
],
"default":"50"
},
{
"type": "image_picker",
"label": "image",
"id": "image"
},
{
"type": "text",
"label": "Heading",
"id": "heading"
},

{
"type": "richtext",
"label": "Sub Heading",
"id": "sub_heading"
}
]
}
],
"presets": [
{
"name": "Our Data",
"category": "Our-Story"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
