{{ 'simple-testimonial.css' | asset_url | stylesheet_tag }}

<section class="testimonial-simple-section">
  <div class="page-width">
    <div class="testimonial-simple-warpper">
    	<div class="testimonial-simple">
         
          <div class="main-box-simple-testimonial">
          <div class="simple-image-testimonial-face">
          	<img src="{{ section.settings.image | img_url: 'master'}}">
          </div>
          <div class="simple-data-testimonial">
            <h5>{{ section.settings.rich_description }}</h5>
            <h2>{{ section.settings.heading }}</h2>
            {{ section.settings.description }}
            <a href="{{ section.settings.button_url }}" class="read-more-btn">{{ section.settings.button_label }}</a>
          </div>
          </div>

      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Without Slide Testimonial",
    "settings": [
  {
  "type": "image_picker",
  "id": "image",
  "label": "image"
  },
  {
  "type": "richtext",
  "id": "rich_description",
  "label": "Sub Heading"
  },
  {
  "type": "text",
  "id": "heading",
  "label": "Heading",
  "info": "Heading"
  },
  {
  "type": "richtext",
  "id": "description",
  "label": "Description"
  },
  {
  "type": "text",
  "id": "button_label",
  "label": "Button Label"
  },
  {
  "type": "url",
  "id": "button_url",
  "label": "Button url"
  }
],


"presets": [
{
"name": "Without Silde Testimonial",
"category": "image"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
