<div class="custom-testimonial-wrapper">

<div class="page-width">

  <h1 class="section-tittle h1">{{ section.settings.heading }}</h1>

<div class="testimonial">
  
  
  <div class="author">
    <div class="author-image-wrapper">
      <img src="{{ section.settings.avtar | img_url }}" alt="{{ section.settings.avtar.alt }}"  class="hideMobile"/>
      <img src="{{ section.settings.avtar_mob | img_url:'300X300' }}" alt="{{ section.settings.avtar.alt }}"  class="hideDesktop"/>
    </div>
    <p>{{section.settings.avtar_name}}</p>
  </div>

  <div class="description">
    <h1 class="h1">{{section.settings.description_heading}}</h1>
    <p>{{section.settings.description}}</p>
  </div>
  
</div>

</div>


</div>
{% schema %}
  {
    "name": "Testimonial",
    "class":"spaced-section",
    "settings": [
				{
                  "type": "text",
                  "id": "heading",
                  "label": "Heading",
                  "default": "ATHLETES"
				},
				{
                  "type": "image_picker",
                  "id": "avtar",
                  "label": "select avtar"
				},
                {
                  "type": "image_picker",
                  "id": "avtar_mob",
                  "label": "select avtar mobile"
				},
				{
                  "type": "text",
                  "id": "avtar_name",
                  "label": "Enter Name",
                  "default": "Collin Sexton"
				},
				{
                  "type": "text",
                  "id": "description_heading",
                  "label": "Heading",
                  "default": "I can’t imagine my life without ReAthlete products. Absolutely must-have!"
				},
				{
                  "type": "text",
                  "id": "description",
                  "label": "Enter Description",
                  "default": "“You dream. You plan. You reach. There will be obstacles. There will be doubters. There will be mistakes. But with hard work, with belief, with confidence and trust in yourself and those around you, there are no limits.”"
				}
				
],
"presets": [
    {
      "name": "t:sections.testimonial.presets.name"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
