{% layout none %}
{% assign product = all_products['air-c-heat-cyber-monday-special'] %}
{% assign product2 = all_products['air-c-heat'] %}
<!doctype html>
<html lang="en">
  <head>
    <script src="https://www.googleoptimize.com/optimize.js?id=OPT-KLTK9RT"></script>
    <!--Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MPHZR49');</script>
    <!-- End Google Tag Manager -->
    
<script>
/* >> TriplePixel :: start*/
~function(W,H,A,L,E){try{A.setItem(H,1+(0|A.getItem(H)||0)),W.includes("⇈")&&A.setItem(H+"Stg",1+(0|A.getItem(H+"Stg")||0))}catch(e){}function O(T,R){void 0===R&&(R=!1),H=new XMLHttpRequest,H.open("GET","//triplewhale-pixel.web.app/triplepx.txt?"+~(Date.now()/9e7),!0),H.send(null),H.onreadystatechange=function(){4===H.readyState&&200===H.status?setTimeout(function(){return eval(H.responseText)},50):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(T-1))}}A=window,A[H]||(L=function(){return"tp.."+Date.now().toString(36)+Math.random().toString(36)},E=A[H]=function(t,e,n){return W=L(),(E._q=E._q||[]).push([W,e,n]),W},E.ch=W,O(5))}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
</script>
    <script>var head = document.head;var script = document.createElement('script');script.type = 'text/javascript';script.src = "https://180967.tracking.hyros.com/v1/lst/universal-script?ph=d89696fd943dd9ae9e3b8af02aec90e683983855302021b295e5ad876e8c5b94&tag=!tracking";head.appendChild(script);</script>
     {% include 'mwm_optimize' %}
    <meta name="facebook-domain-verification" content="k2xa5yahnxbt4a3cp99vi6dz99s7uk" />
      <meta charset="utf-8">
      <title>REATHLETE - SPECIAL</title>  
      <meta name="robots" content="index, follow"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,900&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
      <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
      <link rel="stylesheet" href="{{ 'media_wire_styles.scss.css' | asset_url }}">
      <link rel="stylesheet" href="{{ 'mediawire--one-page-theme.css' | asset_url }}">
      <link rel="stylesheet" href="{{ 'mediawire--reathlete--styles.css' | asset_url }}">
	  <style>
        #hero h3.new {font-size: calc(1.3rem + .6vw);font-style:italic;text-transform:uppercase;letter-spacing:.5px;border-bottom: 1px solid white; display:inline-block;}
        #hero h4 {letter-spacing:.5px;font-size:10px;font-weight: 700;text-transform:uppercase;font-style:italic;margin-bottom:30px;}
        .holiday-banner {background:#060606;}
        .holiday-banner.cm {background:#2970F1;}
        .holiday-banner.postcm {background:#E20000;}
        .holiday-banner img {max-height:70px;margin:0 auto;}
        .holiday-banner .holiday-timer {margin: 0 auto;padding-bottom:5px;font-style:italic;font-weight: 700;text-align:center;width:40%;}
        .holiday-banner .holiday-notice {color:white;margin:0 10px 0;font-weight: 700;letter-spacing: .02rem;font-size: 11px;}
        .holiday-banner #holiday-countdown {color:white;display:flex;justify-content: center;margin: 0 10px;}
        .holiday-banner #holiday-countdown div {color:white;font-size:24px;margin:5px;}
        .holiday-banner #holiday-countdown span {color:black;text-transform: uppercase;font-size: 7px;display: block;line-height: 3px;font-weight: 700;}
        .holiday-product-banner {width:100%;background:#060606;}
        .holiday-product-banner.cm {background:#2970F1;}
        .holiday-product-banner.postcm {background:#E20000;}
        .holiday-product-banner img {max-height:70px;margin: 0 auto;}   
        .holiday-price-banner {display:block;font-weight:700;font-style:italic;color:#F4B92A;margin:0 auto;font-size:14px;text-transform:uppercase;max-width:240px;padding:5px;background:#060606;}
        .holiday-price-banner.cm {color:black;background:#2970F1;}
        .holiday-price-banner.postcm {color:#90FFBC;background:#E20000;}
        .holiday-price-banner span {color:white;} 
        @media (max-width: 991.98px) {
          .holiday-banner img {max-height: 150px;}
          .holiday-product-banner img {max-height: 150px;}
          #stickybutton a.buy {float:right;}
        }
      </style>
      <script src="//code.jquery.com/jquery-3.4.1.js"></script>  
      <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
      <script src="{{ 'media_wire_scripts.js' | asset_url }}"></script>
      <script src="{{ 'option_selection.js' | shopify_asset_url }}"></script>
      <link rel="shortcut icon" href="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__favicon.png?v=1626459814">
      {% assign url_to_remove = '0' %}
      {% assign lines = content_for_header | newline_to_br | split: '<br />' %}
      {% for line in lines %}
        {% if line contains 'var urls' %}
          {% if url_to_remove == '0' %}
            {% comment %}Remove all apps{% endcomment %}
            {% capture new_line %}
            {% endcapture %}
            {% assign empty_array = new_line | append: "var urls = [];" %}
            {% assign content_for_header = content_for_header | replace: line, empty_array %}
            <script>
                console.log('Removed all apps');
            </script>
          {% else %}
            {% assign url_string = line | remove: "var urls = [" | remove: "];" | strip %}
            {% assign url_array = url_string | split: ',' | uniq %}
            {% comment %}Just remove app at index 'url_to_remove' {% endcomment %}
              <script>
              {% for url in url_array %}
                {% if forloop.index == url_to_remove %}
                  {% assign content_for_header = content_for_header | replace: url, '""' %}
                  console.log('Removed app no. {{ url_to_remove }} of {{ url_array.size }}: {{ url }}');
                {% else %}
                  console.log('App no. {{ forloop.index }} -> {{ url }}');
                {% endif %}
            {% endfor %}
             </script>
          {% endif %}
        {% endif %}
      {% endfor %}
      {{ content_for_header }}
    
    <!-- Hotjar Tracking Code for my site -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2756566,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

{% comment %} {% include 'media_wire_tiktok' %}{% endcomment %}
<!-- Global site tag (gtag.js) - Google Ads: 575714463 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-575714463"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-575714463');
</script>

  </head>
  <body class="">
 <div class="page_announce">
{% section 'announcement-bar' %}
   </div>
{% comment %}holiday banner{% endcomment %}
{% comment %} {% include 'media_wire_holiday_banner_1' %}  {% endcomment %}
{% comment %}holiday banner{% endcomment %}


{% comment %}SALE BANNER{% endcomment %}
{% comment %}{% if settings.sale_banner_enable %}
<div class="sale_banner" style="background-color:{{settings.sale_banner_background_color}};" >
  <div class="inner_wrapper" style="color:{{settings.sale_banner_text_color}};">
      {{settings.sale_banner_text}}
      {% include 'media_wire_holiday_timer' %}
 </div>
</div>
{% endif %}{% endcomment %}
{% comment %}SALE BANNER END{% endcomment %}
    
    <div id="stickycart">
      <a href="#minicart" data-vbtype="inline" class="cart cartbutton venobox vbox-item">Cart</a>
    </div>
    <div id="stickybutton">
      <div class="buynowwrap">

        <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__product.jpg?v=1626459533" class="imageprod" alt="">
        <div class="prodinfosmall">
          <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__stars.png?v=1626459534" class="stickystars" alt="">
          {% comment %}<h3>Air C + Heat</h3>{% endcomment %}
           <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__logo.png?v=1626459533" class="stickylogo" alt="">
        </div>
        <a href="#buynowdown" class="btn buy">
          Buy Now
        </a>
      </div>
      <a href="#minicart" data-vbtype="inline" class="cart cartbutton venobox vbox-item">Cart</a>
    </div>
    

    
    {% comment %}{% if settings.select_sale == 'BF' %}
    <div class="holiday-banner bf">
      <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/Reathlete_AIRCHeat_BF_Banner_40OFF_9e7dd42c-4c08-4f5c-9230-2e0e178aee0c.png?v=1637171798" class="d-none d-lg-block" loading="lazy" alt="">
      <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/Reathlete_AIRCHeat_BF_Banner_40OFF_MOBILE_67f4fa17-ab14-49ca-a85c-09462b018037.png?v=1637171798" class="d-block d-lg-none" loading="lazy" alt="">
    </div>
    {% elsif settings.select_sale == 'CM' %}
    <div class="holiday-banner cm">
      <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/Reathlete_AIRCHeat_CM_Banner_60OFF_2655a069-cb89-4949-92a6-c061cb8c154c.png?v=1637171798" class="d-none d-lg-block" loading="lazy" alt="">
      <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/Reathlete_AIRCHeat_CM_Banner_60OFF_MOBILE_5583b53e-5ad0-4c4d-876a-c22edcc1e43d.png?v=1637171798" class="d-block d-lg-none" loading="lazy" alt="">
      <div class="holiday-timer">
        <p class="holiday-notice">ENDING SOON!</p>
        <p id="holiday-countdown"></p>
      </div> 
    </div>
    {% elsif settings.select_sale == 'POSTCM' %}
    <div class="holiday-banner postcm">
      <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/Reathlete_AIRCHeat_HOL_Banner_20_OFF_6f27e362-dd95-4e4a-9121-371bd37c9980.png?v=1637171798" class="d-none d-lg-block" loading="lazy" alt="">
      <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/Reathlete_AIRCHeat_HOL_Banner_20_OFF_MOBILE_63f2fe25-2ea8-4e0b-8cd0-9d84cbb44ce1.png?v=1637171798" class="d-block d-lg-none" loading="lazy" alt="">
    </div>
    {% endif %}{% endcomment %}
 
    <div id="hero">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
          {% comment %}   <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__logo.png?v=1626459533" class="logo mobile" alt="" loading="lazy">{% endcomment %}
            <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__hero.jpg?v=1626459533" alt="reathlete" class="mainhero desktop">
              <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__hero_MOBILE.jpg?v=1626719612" alt="reathlete" loading="lazy" class="mobile">
           {% comment %} <video muted loop autoplay playsinline class="herovideo">
              <source src="" type="video/mp4">
              Your browser does not support the video tag.
            </video>{% endcomment %}
          </div>
          <div class="col-lg-6 d-flex text-center mobilegutter herotext white">
            <div class="my-auto">
              <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__logo.png?v=1626459533" class="logo" alt="" loading="lazy">
              <h1><span class="blue">Muscle recovery.</span> <span class="teal">Pain relief.</span> <span class="green">Stress reduction.</span>
              </h1>
              <h1 class="desktop">
Get all this and more from ReAthlete’s AIR●C+HEAT, the professional-quality compression massager that does ahh-mazing things for your body.</h1>
              <div class="row">
                <div class="col-4">
                  <h3 class="new">Fast</h3>
                  <h4>Free Shipping</h4>
                </div>
                <div class="col-4">
                  <h3 class="new">30 Day</h3>
                  <h4>Money-Back Guarantee</h4>
                </div>
                <div class="col-4">
                  <h3 class="new">1 Year</h3>
                  <h4>Warranty</h4>
                </div>
              </div>
              {% comment %}<span class="heavy herofreeships">Fast FREE Shipping  <span>+ 30 Day Money Back Guarantee</span> <span>+  1 Year Manufacturer’s Warranty</span> </span>{% endcomment %}
              <a href="https://buyreathlete.com/cart/39626858659926:1" class="btn">Buy Now</a>
              <p class="special">
                {% if settings.select_sale == 'none' %}
                <span class="bluegradient smalltype heavy">Limited time Offer</span>
                <span class="largeprice"><s>$189.99</s> $169.99</span>
                {% elsif settings.select_sale == 'BF' %}
                <span class="bluegradient smalltype heavy">Black Friday SAVINGS:</span>
                <span class="largeprice"><s>$189.99</s> $169.99</span>
                {% elsif settings.select_sale == 'CM' %}
                <span class="bluegradient smalltype heavy">Cyber Monday SAVINGS:</span>
                <span class="largeprice"><s>$189.99</s> $169.99</span>
                {% elsif settings.select_sale == 'POSTCM' %}
                <span class="bluegradient smalltype heavy">Holiday SAVINGS:</span>
                <span class="largeprice"><s>$189.99</s> $169.99</span>
                {% endif %}
              </p>
               <h1 class="mobile">
Get all this and more from ReAthlete’s AIR●C+HEAT, the professional-quality compression massager that does ahh-mazing things for your body.</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div id="stickystart"></div>
    
    <div id="about" class="white">
          <div class="container">
            <div class="row text-center icons  medium_center ">
               <div class="col-lg-2 col-6">
                 <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__icon_1.png?v=1626459533" class="circle_icon" alt="" loading="lazy">
                 <span class="pointtext">Relieves Pain</span>
              </div>
               <div class="col-lg-2 col-6">
                 <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__icon_2.png?v=1626459533" class="circle_icon" alt="" loading="lazy">
                 <span class="pointtext">Aids Muscle Recovery</span>
              </div>
               <div class="col-lg-2 col-6">
                 <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__icon_3.png?v=1626459533" class="circle_icon" alt="" loading="lazy">
                 <span class="pointtext">Helps Regain Mobility</span>
              </div>
               <div class="col-lg-2 col-6">
                 <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__icon_4.png?v=1626459533" class="circle_icon" alt="" loading="lazy">
                 <span class="pointtext">Encourages Bloodflow</span>
              </div>
               <div class="col-lg-2 col-6">
                 <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__icon_5.png?v=1626459533" class="circle_icon" alt="" loading="lazy">
                 <span class="pointtext">Improves Blood Pressure</span>
              </div>
              
          </div>
        </div>


        <div class="container">
            <div class="row cleartop">
               <div class="col-lg-6 d-flex">
                <div class="my-auto">
                  <h2 class="heavy">Your personal mAssage Therapist</h2>
                  <p>The benefits of compression massage are well-known among medical professionals and professional athletes. </p>
                  <h3 class="heavy">Helps Improve All These Problems:</h3>
                  <ul class="check greens">
                    <li>Muscle soreness</li>
                    <li>Inflammation</li>
                    <li>Mobility constraints</li>
                    <li>Chronic pain</li>
                    <li>Deep vein thrombosis</li>
                    <li>Venous leg ulcers</li>
                    <li>Varicose veins</li>
                    <li>Lower body cellulitis</li>
                    <li>Restless leg syndrome</li>
                    <li>Lower limb oedema</li>
                    <li>Venous insufficiency</li>
                    <li>Lymphoedema</li>

                  </ul>
                </div>
              </div>
              <div class="col-lg-6 nomobilegutter">
                <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__man.jpg?v=1626459533" alt="" loading="lazy" class="cicle secondary">
              </div>
          </div>     
        </div>

        <div class="container-fluid">
          <div class="row pressicons">
               <div class="col-lg-2 col-6">
                     <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__PRESS_1_1.png?v=1626459533" class="press" alt="" loading="lazy">
               </div>
                <div class="col-lg-2 col-6">
                     <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__PRESS_1_2.png?v=1626459533" class="press" alt="" loading="lazy">
               </div>
                <div class="col-lg-2 col-6">
                     <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__PRESS_1_3.png?v=1626459533" class="press" alt="" loading="lazy">
               </div>
                <div class="col-lg-2 col-6">
                     <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__PRESS_1_4.png?v=1626459533" class="press" alt="" loading="lazy">
               </div>
                <div class="col-lg-2 col-6">
                     <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__PRESS_1_5.png?v=1626459533" class="press" alt="" loading="lazy">
               </div>
                <div class="col-lg-2 col-6">
                     <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__PRESS_1.png?v=1626459533" class="press" alt="" loading="lazy">
               </div>
          </div>
        </div>


         <div class="container  mobile-fluid">
          
          <div class="row medium_center">

            <div class="col-12 how-it-works medium_center">
              <h3 class="bluegradient largest heavy">HOW IT WORKS</h3>
              <p>AIR●C+HEAT uses air to compress your legs, encouraging veins to loosen and expand. The increase in blood flow brings a host of benefits like reducing blood pressure, relieving pain & swelling, and increasing the flow of feel-good hormones. Optional heat therapy improves circulation, alleviates stiffness,  and helps relax tired muscles.</p>
            </div>
            
            <div class="col-12 nomobilegutter">
              <div class="youtube">
                <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__video_thumb_6ec2c1f2-57f1-4aa4-9d7b-cd6a54fb67db.jpg?v=1626459533" class="videoposter" alt="" loading="lazy">
                <div class="iframewrapper">
                  <iframe src="https://www.youtube.com/embed/Xs_T4pLd6ug" allow="autoplay" frameborder="0"></iframe>
                </div>
              </div>
            </div>

          </div>

          <div class="row">
               <div class="col-lg-4 point_text">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__point_1.png?v=1626459533" class="pointitem" alt="" loading="lazy">
                  <p>Wrap the AIR●C+HEAT around your legs and relax.</p>
               </div>
                 <div class="col-lg-4 point_text">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__point_2.png?v=1626459533" class="pointitem" alt="" loading="lazy">
                  <p>Air Compression increases blood flow.</p>
               </div>
                 <div class="col-lg-4 point_text">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__point_3.png?v=1626459533" class="pointitem" alt="" loading="lazy">
                  <p>Activate Knee Heat Therapy for pain relief</p>
               </div>
          </div>

        </div>




      </div>
    </div>



    <div id="modes">
       <div class="container white">
          <div class="row medium_center align_center">
            <div class="col-12">
              <h2 class="heavy">personalize your therapy</h2>
              <p><strong>3 massage Modes + Heat</strong><br/>Adjust the treatment to your needs. 3 options to choose from:</p>
            </div>

            


                  <div class="slider-for col-lg-7 my-auto">
                     <div class="holdimage">
                          <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__diagram_2.jpg?v=1626459533" class="mainrotatorimage" alt="" loading="lazy">
                     </div>
                     <div class="holdimage">
                          <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__diagram_3.jpg?v=1626459532" class="mainrotatorimage" alt="" loading="lazy">
                     </div>
                     <div class="holdimage">
                          <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__diagram_4.jpg?v=1626459532" class="mainrotatorimage" alt="" loading="lazy">
                     </div>
                     <div class="holdimage">
                          <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__diagram_5.jpg?v=1626459532" class="mainrotatorimage" alt="" loading="lazy">
                     </div>
                  </div>

                  <div class="slider-nav col-lg-5 my-auto">
                       <div class="holdthumb">
                          <span class="circlerounds heavy">M1</span>
                          <p>Thighs, calves & feet pressure massage.</p>
                       </div>
                       <div class="holdthumb">
                          <span class="circlerounds heavy">M2</span>
                          <p>Thighs, calves & feet pressure massage.</p>
                       </div>
                       <div class="holdthumb">
                          <span class="circlerounds heavy">M3</span>
                          <p>Thighs, calves & feet pressure massage.</p>
                       </div>
                       <div class="holdthumb">
                          <span class="circlerounds heavy SUNICON">
                                <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__sun.png?v=1626459534" class="sun" alt="" loading="lazy">

                          </span>
                          <p>Knee Heat Therapy (controlled independently)</p>
                       </div>
                  </div>


          

          </div>
       </div>
    </div>

    
    <div id="reviews" class="white align_center">
      
      <div class="container-fluid">
        

        <div class="row">
          <div class="text-center">
            <h2 class="bluegradient heavy">"This thing has exceeded all my expectations"</h2>
          </div>
        </div>
        


        <div class="row reviews-slider">


          <div class="">
            <div class="whitebox">
              <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__testimonial_1.jpg?v=1626459533" alt="testimonial">
              <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__stars.png?v=1626459534" class="stars" alt="" loading="lazy">
              <blockquote>“I was on the fence about purchasing this massager or going with a more expensive brand. Im glad I chose this product instead! My boyfriend is an avid runner and experiences soreness in his legs quite frequently so I purchased this for him as a gift.”</blockquote>
               <p class="author"><span class="verfied">Verified Buyer</span></p>
            </div>
          </div>

           <div class="">
            <div class="whitebox">
              <div class="item autoplayvideo">
                <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__testimonial_2.jpg?v=1626459533" class="poster">
                <video autoplay loop muted playsinline>
                  <source src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/SITE_testimonial_2_OPTIMIZED.mp4?v=1626459273" type="video/mp4">
                </video>
              </div>
              <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__stars.png?v=1626459534" class="stars" alt="" loading="lazy">
              <blockquote>“This leg massager is fantastic! You strap in your legs and plug it in and away you go. I could feel my legs tension disappearing.”</blockquote>
               <p class="author">Davisd D.<span class="verfied">Verified Buyer</span></p>
            </div>
          </div>

            <div class="">
            <div class="whitebox">
              <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__testimonial_2.jpg?v=1626459533" alt="" >
              <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__stars.png?v=1626459534" class="stars" alt="" loading="lazy">
              <blockquote>“I recently bought these leg massagers and am nothing but impressed with them. While researching which ones to buy, I was overwhelmed with the amount there are to pick from, as well as price range.”</blockquote>
              <p class="author">JM Walker<span class="verfied">Verified Buyer</span></p>
            </div>
          </div>
         
         <div class="">
            <div class="whitebox">
              <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__testimonial_3_v2.jpg?v=1626469283" alt="">
              <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__stars.png?v=1626459534" class="stars" alt="" loading="lazy">
              <blockquote>“They work well I like that the knee is actually out and has a heated strap over it. Especially for alternating the 2. You can easily just pull the heat back and put an ice pack on your knee. Very easy to put on and fits both my wife and I”</blockquote>
               <p class="author">Qasim M.<span class="verfied">Verified Buyer</span></p>
            </div>
          </div>
           <div class="">
            <div class="whitebox">
              <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__testimonial_4.jpg?v=1626459533" alt="" >
              <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__stars.png?v=1626459534" class="stars" alt="" loading="lazy">
              <blockquote>“I think this is a great device. I use it for my daily leg pain and it helps lessen or even get rid of the pain altogether. My only complaint is a timer would be nice so I could know how much longer the program has to go.”</blockquote>
               <p class="author"><span class="verfied">Verified Buyer</span></p>
            </div>
          </div>
          

           
         <div class="fullautoplay">
            <div class="item autoplayvideo scrollvideo">
                <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/thumb.png?v=1626468087" class="poster">
                <video autoplay loop muted playsinline>
                  <source src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/SITE_testimonial_1_OPTIMIZED_2.mp4?v=1626459273" type="video/mp4">
                </video>
              </div>
           </div>


        </div>
      




      </div>
    </div>
      
    <div id="stickyend"></div> 
   
    
    <div id="guarantee">
      <div class="container white">
        <div class="row medium_center">
          <div class="col-lg-12 text-center">
            
           
            <h3 class="heavy">Love it or your<br/>
              <span class="bluegradient">MONEY BACK</span>
            </h3>

            <p>The AIR●C+HEAT comes with a full money-back guarantee. Try it risk-free for 30 days. If you’re not satisfied, return it for a full refund. In addition, your purchase is protected by a 1-year warranty. If anything happens to your AIR●C+HEAT in that time, just let us know and we’ll replace it free of charge.</p>
          </div>
        </div>
      </div>
    </div>
 
    
    






    <div id="buynow">
      <div class="container">
       

        <div class="row mobilegutter">
          <div class="medium_center text-center buynowheader">
            <h2 class="heavy">Experience the<br/>Ahh-Mazing Benefits</h2>
            <p>Relax and recharge your body with the professional-quality compression massage device you can use at home. Kick your feet up and relax while the AIR●C+HEAT works to relieve pain, reduce stress, improve muscle recovery, and more.</p>
          </div>
        </div>




         <div class="row mainproductblock">
           {% comment %}{% if settings.select_sale == 'none' %}
           <div class="saleflag bluegradientBG white">
             Order Today and Save $20
             <span class="tinytext heavy">PRICE ONLY AVAILABLE HERE</span>
           </div>
           {% elsif settings.select_sale == 'BF' %}
           <div class="holiday-product-banner bf">
             <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/Reathlete_AIRCHeat_BF_Banner_40OFF_9e7dd42c-4c08-4f5c-9230-2e0e178aee0c.png?v=1637171798" class="d-none d-lg-block" loading="lazy" alt="">
             <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/Reathlete_AIRCHeat_BF_Banner_40OFF_MOBILE_67f4fa17-ab14-49ca-a85c-09462b018037.png?v=1637171798" class="d-block d-lg-none" loading="lazy" alt="">
           </div>
           {% elsif settings.select_sale == 'CM' %}
           <div class="holiday-product-banner cm">
             <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/Reathlete_AIRCHeat_CM_Banner_60OFF_2655a069-cb89-4949-92a6-c061cb8c154c.png?v=1637171798" class="d-none d-lg-block" loading="lazy" alt="">
             <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/Reathlete_AIRCHeat_CM_Banner_60OFF_MOBILE_5583b53e-5ad0-4c4d-876a-c22edcc1e43d.png?v=1637171798" class="d-block d-lg-none" loading="lazy" alt="">
           </div>
           {% elsif settings.select_sale == 'POSTCM' %}
           <div class="holiday-product-banner postcm">
             <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/Reathlete_AIRCHeat_HOL_Banner_20_OFF_6f27e362-dd95-4e4a-9121-371bd37c9980.png?v=1637171798" class="d-none d-lg-block" loading="lazy" alt="">
             <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/Reathlete_AIRCHeat_HOL_Banner_20_OFF_MOBILE_63f2fe25-2ea8-4e0b-8cd0-9d84cbb44ce1.png?v=1637171798" class="d-block d-lg-none" loading="lazy" alt="">
           </div>
           {% endif %}{% endcomment %}


              <div class="col-lg-6 text-center" id="buynowdown">

                  <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__logo_dark.png?v=1626459534" class="logo mobile" alt="" loading="lazy">
                   <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__product.jpg?v=1626459533" alt="" loading="lazy">
                   <div class="includes" >
                      <span class="heavy">includes:</span> 
                      <ul>
                        <li>2 leg sleeves   </li>
                        <li>1 remote control</li>
                        <li>1 travel bag</li>
                        <li>1 AC adapter</li>
                        <li>4 leg extension wraps</li>
                        <li>1 user manual</li>
                      </ul>
                   </div>
              </div>  




             <div class="col-lg-6 text-center my-auto buynowinners">
              <div class="product-wrapper " >
                <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__logo_dark.png?v=1626459534" class="logo desktop" alt="" loading="lazy">
                
     
                
                {% if settings.select_sale == 'none' %}
                <p class="price"><s id="ComparePrice">{{ product.compare_at_price | money }}</s></p>
                <p class="sale"><span id="ProductPrice">{{product.price | money}}</span></p>
                {% elsif settings.select_sale == 'BF' %}
                <p class="price"><s>$189.99</s></p>
                <p class="sale"><span>$169.99</span></p>
                {% comment %}<span class="holiday-price-banner bf">Black Friday <span>Savings!</span></span>{% endcomment %}
                {% elsif settings.select_sale == 'CM' %}
                <p class="price"><s>$189.99</s></p>
                <p class="sale"><span>$169.99</span></p>
                {% comment %}<span class="holiday-price-banner cm">Cyber Monday <span>Savings!</span></span>{% endcomment %}
                {% elsif settings.select_sale == 'POSTCM' %}
                <p class="price"><s>$189.99</s></p>
                <p class="sale"><span>$169.99</span></p>
                {% comment %}<span class="holiday-price-banner postcm">Holiday <span>Savings!</span></span>{% endcomment %}
                {% endif %}
                
                
                <p class="shipping heavy">+ Free Shipping</p>
                <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="js--form-interrupt--target form-vertical">
                  <select name="id" id="productSelect" class="product-single__variants selector-wrapper">
                    {% for variant in product.variants %}
                      {% if variant.available %}
                          <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                      {% else %}
                          <option disabled="disabled">
                            {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                          </option>
                      {% endif %}
                    {% endfor %}
                  </select>
                  <div id="swatch">
                    {% if product.available and product.variants.size > 1 %}
                        {% for option in product.options %}
                            {% include 'swatch' with option %}
                        {% endfor %}
                    {% endif %}
                    <script>
                      var selectCallback = function(variant, selector) {
                        if (variant) {
                          var form = jQuery('#' + selector.domIdPrefix).closest('form');
                          for (var i=0,length=variant.options.length; i<length; i++) {
                            var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
                            if (radioButton.length) {
                              radioButton.get(0).checked = true;
                            }
                          }
                        }
                        timber.productPage({
                          money_format: "{{ shop.money_format }}",
                          variant: variant,
                          selector: selector
                        });
                      };
                      jQuery(function($) {
                        new Shopify.OptionSelectors('productSelect', {
                          product: {{ product | json }},
                          onVariantSelected: selectCallback,
                          enableHistoryState: true
                        });
                        // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
                        {% if product.options.size == 1 and product.options.first != 'Title' %}
                          $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
                        {% endif %}
                        // Hide selectors if we only have 1 variant and its title contains 'Default'.
                        {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                          $('.selector-wrapper').hide();
                        {% endif %}
                        jQuery('.swatch :radio').change(function() {
                          var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
                          var optionValue = jQuery(this).val();
                          jQuery(this)
                          .closest('form')
                          .find('.single-option-selector')
                          .eq(optionIndex)
                          .val(optionValue)
                          .trigger('change');
                        });

                      });
                    </script>
                  </div>
                  <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
                  <button type="submit" name="add" id="AddToCart" class="btn">
                    <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                  </button>
                </form>
                <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__secures.jpg?v=1626459533" class="payments" alt="" loading="lazy">
                <ul class="check">
                  <li>30 Day Money-Back Guarantee</li>
                  <li>1-YEAR WARRANTY</li>
                </ul>
              </div>


              </div>



            {% comment %}MAIN PRODUCT ROW ENDING{% endcomment %}
            </div>







        </div>







    
    <div id="faq">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h3 class="heavy">FAQ</h3>
          </div>
          <div class="col-lg-8 offset-lg-2">
            <dl>
              <dt>What is included with my order?</dt>
              <dd>Two (2) leg sleeves 1 remote control 1 travel bag 1 AC adapter 4 leg extension wraps 1 user manual.
</dd>
              <dt>How big are the straps?
</dt>
              <dd>Our straps use velcro to make it easy to adjust to the perfect size. Foot: 15” circumference. Calves: 20” circumference. Knee: 22” circumference. Lower thigh: 25” circumference. Upper thigh: 28” circumference. Product is 38” long from toe to upper thigh and weighs 4.6 lbs (2.1 kg). In addition, the AIR C includes leg wrap extensions that expand to fit larger legs. (Each extension adds 7.5” on each side).
</dd>
              <dt>What are the massage modes?
</dt>
              <dd>(M1) Full Leg Pressure Massage
(M2) Half Leg Massage: Choose 2 areas
(M3) Personalized: Select the area you’d like to target
</dd>
              <dt>What are the air pressure intensity settings?
</dt>
              <dd>Level 1: 10Kpa / 75mmHG
Level 2: 15Kpa / 112mmHG
Level 3: 20Kpa /  150mmHG
Level 4: 25Kpa / 187.5mmHG
</dd>
              <dt>What are the heat settings?
</dt>
              <dd>Low: 131 ± 41°F / 55 ± 5°C
High: 140 ± 41°F / 60 ± 5°C
</dd>
              <dt>How loud is the motor?
</dt>
              <dd>The Air●C+HEAT operates no louder than 40 db (about the volume of a quiet library).
</dd>
              <dt>How does compression massage work?
</dt>
              <dd>AIR●C+HEAT uses air to compress your legs, encouraging veins to loosen and expand. This in turn lowers blood pressure, decreases inflammation, relieves pain and swelling, reduces stress, and increases the flow of feel-good hormones. Optional heat therapy increases blood flow even more, while helping to further relax muscles and relieve stiffness and swelling.
</dd>
              <dt>What condition(s) does Air●C+HEAT help with?

</dt>
              <dd>The Air●C+HEAT helps improve all these conditions:
Muscle soreness
Inflammation
Mobility constraints
Chronic pain
Deep vein thrombosis
Venous leg ulcers
Varicose veins
Lower body cellulitis
Restless leg syndrome
Lower limb oedema
Venous insufficiency
Lymphoedema

</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    
    




      </div>
    </div>
    

<div id="bazaarvoice-reviews">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <script src="https://apps.bazaarvoice.com/deployments/reathletepro/main_site/production/en_US/bv.js?shop=reathlete.myshopify.com"></script>
        <div data-bv-show="reviews" data-bv-product-id="6606340980822">
        </div>
      </div>
    </div>
  </div>
</div>
    
    
    
    

     {% include 'media_wire_footer' %}

    <div id="cart">
      {% comment %}{% assign free_shipping_enabled = true %}{% endcomment %}
      {% assign atc_form_selector = '#AddToCartForm.js--form-interrupt--target' %}
      {% assign standalone = false %}
      {% assign free_shipping_amount = 0 %}
      
      {% if settings.select_sale == 'BF' %}
      	{% assign minicart_discount_code = 'BF20' %}
      	{% assign minicart_discount_code_amount = 20 %}
      {% elsif settings.select_sale == 'CM' %}
      	{% assign minicart_discount_code = 'CYBER40' %}
      	{% assign minicart_discount_code_amount = 40 %}
      {% else %}
      	{% assign minicart_discount_code = '' %}
      	{% assign minicart_discount_code_amount = 0 %}
      {% endif %}
      
      {% assign minicart_discount_code_type = 'lineitem' %}{% comment %}lineitem, dollar, percent{% endcomment %}
      {% assign minicart_upsell_enabled = true %}
      {% assign upsell_discount_enabled = true %}
      {% assign upsell_discount_amount = 49.99 %}
      {% assign upsell_discount_type = 'dollar' %} {% comment %}dollar,percent{% endcomment %}
      {% if minicart_discount_code_type != 'percent' %}
        {% assign minicart_discount_code_amount = minicart_discount_code_amount | times: 100 %}
      {% endif %}

        <a href="#minicart" class="venobox cart_button_button" data-vbtype="inline" style="display: none;">display</a>

        <div id="minicart" class="modalwrapper" style="display: none;">
          <div class="mwmc--wrapper display-sales-modal display-sales-modal-2 modal_inner upsell_modal">
            <a onclick="$('.vbox-close').click();" class="mwmc--close">&times;</a>
            <div class="mwmc--header js--shipping-message--target clearfix">Your Cart</div>
            <div class="mwmc--lineitems-wrapper js--lineitems--target"></div>
            <div class="mwmc--summary-wrapper">
              {% comment %}<div class="mw--row">
                <div class="mwmc--summary-title mw--col mw--col-7 text-right">Was:</div>
                <div class="mw--col mw--col-5 text-right"><span class="js--subtotal--target"></span></div>
              </div>{% endcomment %}
             {% comment %} <div class="mw--row mwmc--discount-row">
                <div class="mwmc--summary-title mw--col mw--col-7 text-right">Discount Applied:</div>
                <div class="mw--col mw--col-5 text-right text-green"><span class="js--discount-code--target">{{ minicart_discount_code }}</span></div>
              </div>{% endcomment %}
              <div class="mw--row js--shipping-row--target">
                <div class="mwmc--summary-title mw--col mw--col-7 text-right">Shipping:</div>
                <div class="mw--col mw--col-5 text-right">FREE</div>
              </div>
              <div class="mw--row">
                <div class="mwmc--summary-title mw--col mw--col-7 text-right">Total:</div>
                <div class="mw--col mw--col-5 text-right text-green"><span class="js--total--target"></span></div>
              </div>
              <div class="mw--row">
                <div class="mw--col mw--col-12 text-right">
                  <form action="/checkout" method="post" id="proceed-form" data-money-format="$" data-shop-currency="USD" data-shop-name="Protalus">
                  <input type="submit" class="mw--btn btn-checkout" value="Checkout">
                  </form>
                </div>
              </div>
            </div>
          </div>

          {% if minicart_upsell_enabled %}
            {% if standalone %}

            {% else %}
                {% assign standalone = false %}
            {% endif %}
            {% assign upsell_product_handles = 'fold-percussive-massager-upsell' | split: ',' %}
            {% comment %}{% assign upsell_discount_code = 'WINTER25MORE' %}{% endcomment %}
            {% assign upsell_discount_amount = 0 %}
            {% assign upsell_discount_type = 'dollar' %}
            {% assign discount_code_message = 'Save <span>$50</span> On the FOLD Percussive Massager when you buy the Air C +Heat' %}
            {% if upsell_discount_type != 'percent' %}
                {% assign upsell_discount_amount = upsell_discount_amount | times: 100 %}
            {% endif %}

            <div class="mwus--wrapper {% if standalone %}side-upsell{% endif %}">
                {% if standalone %}
                    <div class="mwus--discount-details font-heavy clearfix">
                        {{ discount_code_message }}
                    </div>
                {% else %}
                    <div class="clearfix text-center">
                        <div class="mwus--special-offer font-heavy">Special offer!</div>
                        <div class="mwus--discount-details">{{ discount_code_message }}</div>
                    </div>
                {% endif %}
                <div class="mwus--items-row row--{{ upsell_product_handles.size }}-up">
                    {% if upsell_product_handles.size == 1 %}
                        {% assign product = all_products[upsell_product_handles.first] %}   
                        {% assign variant = product.selected_or_first_available_variant %}
                        {% if upsell_discount_type == 'percent' %}
                            {% assign amount_off = upsell_discount_amount | times: 0.01 | times: product.price %}
                            {% assign upsell_discount_price = product.price | minus: amount_off %}
                        {% else %}
                            {% assign upsell_discount_price = product.price | minus: upsell_discount_amount %}
                        {% endif %}
                        <div class="mwus--img-col">
                            <img src="{{ product.featured_image | img_url: '200x' }}" alt="{{ product.title }}">
                        </div>
                        <div class="mwus--info-col">
                            <div class="mwus--product-title">{{ product.title }}</div>
                            <div class="mwus--variant-title text-faint">{{ variant.title }}</div>
                            <div class="mwus--order-row  row--order">
                                <div class="msus--col col-half">
                                    <div class="mwus--product-original-price text-faint"><s>$169.99</s></div>
                                    <div class="mwus--product-sale-price">{{ upsell_discount_price | money }}</div>
                                </div>
                                <div class="msus--col col-half">
                                    <a href="#" class="js--upsell--trigger mw--btn" data-variant-id="{{ variant.id }}">Add</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        {% for i in upsell_product_handles %}
                            {% assign product =  all_products[i] %}
                            {% assign variant = product.selected_or_first_available_variant %}
                            {% if upsell_discount_type == 'percent' %}
                                {% assign amount_off = upsell_discount_amount | times: 0.01 | times: product.price %}
                                {% assign upsell_discount_price = product.price | minus: amount_off %}
                            {% else %}
                                {% assign upsell_discount_price = product.price | minus: upsell_discount_amount %}
                            {% endif %}
                            <div class="mwus--item-col">
                                <div class="mwus--product-row">
                                    <div class="mwus--img-col">
                                        <img src="{{ product.featured_image | img_url: '200x' }}" alt="{{ product.title }}">
                                    </div>
                                    <div class="mwus--info-col">
                                        <div class="mwus--product-title ">{{ product.title }}</div>
                                        <div class="mwus--variant-title text-grey">{{ variant.title }}</div>
                                        <div class="mwus--product-original-price text-grey"><s>{{ product.price | money }}</s></div>
                                        <div class="mwus--product-sale-price text-green">{{ upsell_discount_price | money }}</div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <a href="#" class="js--upsell--trigger mw--btn btn-block" data-variant-id="{{ variant.id }}">Add</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
          {% endif %}
        </div>
        <script>

          // percent, dollar, lineitem
          const discountObj = {
            '{{ minicart_discount_code }}': { type: '{{ minicart_discount_code_type }}', amount: {{ minicart_discount_code_amount}} },
          }

          function getCookie(name) {
            var v = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
            return v ? v[2] : undefined;
          }

          function setCookie(name, value, days) {
            var d = new Date;
            d.setTime(d.getTime() + 24*60*60*1000*days);
            document.cookie = name + '='+value+';path=/;expires='+d.toGMTString();
          }

          function deleteCookie(name) {
            setCookie(name, '', -1);
          }

          function checkUrlParams(sParam){
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'), sParameterName, i;

            for (i = 0; i < sURLVariables.length; i++) {
              sParameterName = sURLVariables[i].split('=');
              if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
              }
            }
          }

          function formatMoney(cents) {
            return '$'+(cents*0.01).toFixed(2);
          }

          function refreshMiniCart(openCart) {
            $minicart = $('.mwmc--wrapper');
            $lineitemsTarget = $minicart.find('.js--lineitems--target');
            // $lineitemsTarget.empty();

            $.getJSON('/cart.js', function(cart) {
              var runningDiscount = 0;
              var cartTotal = cart.total_price;
              var hasUpsellItem = false;

              $.each(cart.items, function(index, lineitem){
                var lineitemPricing;
                var finalLinePrice = lineitem.final_line_price
                var isUpsellItem = lineitem.properties && lineitem.properties['Special'];

                if (isUpsellItem && {{ upsell_discount_enabled }}) {
                    hasUpsellItem = true;
                }

                if (discountObj[getCookie('discount')] && discountObj[getCookie('discount')].type == 'lineitem') {
                    var lineitemDiscount

                    if (lineitem.properties && lineitem.properties['Special'] && {{ upsell_discount_enabled }}) {
                        if ('{{ upsell_discount_type }}' == 'percent') {
                            lineitemDiscount = lineitem.original_line_price * (1 - (0.01 * parseInt('{{ upsell_discount_amount }}')))
                        } else {
                            lineitemDiscount = lineitem.quantity * parseInt('{{ upsell_discount_amount }}');
                        }

                    } else {
                      lineitemDiscount = lineitem.quantity * discountObj[getCookie('discount')].amount;
                    }

                  finalLinePrice = lineitem.original_line_price - lineitemDiscount;
                  runningDiscount += lineitemDiscount;
                }

                if (finalLinePrice < lineitem.original_line_price) {
                    lineitemPricing = `<div class="mwmc--original-lineprice text-grey"><s>${formatMoney(lineitem.original_line_price)}</s></div>
                      <div class="mwmc--sale-lineprice text-green">${formatMoney(finalLinePrice)}</div>`;
                } else {
                    lineitemPricing = `<div class="mwmc--sale-lineprice text-green">${formatMoney(finalLinePrice)}</div>`;
                }

                var lineitemContent = `<div class="mw--row">
                    <div class="mwmc--img-col mw--col mw--col-6 mw--col-md-3">
                      <img src="${lineitem.image}" class="card-img-top" />
                    </div>
                    <div class="mwmc--info-col mw--col mw--col-6 mw--col-md-6">
                      <div class="mwmc--product-title">${lineitem.product_title}</div>
                      <div class="mwmc--variant-title text-grey">${lineitem.variant_title}</div>
                      <div class="mwmc--quantity--wrapper">
                        <a href="#" class="js--item-qty--trigger minus" rel="${lineitem.quantity-1}">-</a>
                        <span class="js--item-qty--target" data-variant-id="${lineitem.variant_id}">${lineitem.quantity}</span>
                        <a href="#" class="js--item-qty--trigger plus" rel="${lineitem.quantity+1}">+</a>
                      </div>
                    </div>
                    <div class="mw--col mw--col-12 mw--col-md-3 text-right">${lineitemPricing}</div>
                  </div>`;

                if ($(`.mwmc--lineitem[data-lineitem-key="${lineitem.key}"]`).length) {
                    $(`.mwmc--lineitem[data-lineitem-key="${lineitem.key}"]`).html(lineitemContent);
                } else {
                // new item
                    $lineitemsTarget.append(`<div class="mwmc--lineitem ${isUpsellItem ? 'mwmc--upsell-item' : ''}" data-lineitem-key="${lineitem.key}">${lineitemContent}</div>`);
                }


              });

              if (discountObj[getCookie('discount')] && discountObj[getCookie('discount')].type != 'lineitem') {

                if (discountObj[getCookie('discount')].type == 'percent') {
                  // percentage calc
                } else {
                  runningDiscount = discountObj[getCookie('discount')].amount;
                }

              }

              if (hasUpsellItem) {
                $('.mwmc--wrapper').addClass('has-upsell-item');
                $('.mwus--wrapper').hide();
              } else {
                $('.mwmc--wrapper').removeClass('has-upsell-item');
                $('.mwus--wrapper').show();
              }

              if (cart.items.length == 0) {
                $('.mwus--wrapper').hide();
              }

              if (getCookie('discount')) {
                $('.mwmc--wrapper .mwmc--discount-row').show();
                  $('.mwmc--wrapper .js--discount-code--target').text(getCookie('discount'));
              }

              if (runningDiscount > 0) {
                cartTotal = cart.original_total_price - runningDiscount;
              }

              if ({{ free_shipping_amount }} == 0 || cartTotal >= {{ free_shipping_amount | times: 100 }}) {
                $('.js--shipping-message--target').html('Your Cart qualifies <strong>for Free&nbsp;Shipping!</strong>');
                $('.js--shipping-row--target').show();
              } else {
                $('.js--shipping-message--target').html('Your Cart')
                $('.js--shipping-row--target').hide();
              }

              $minicart.find('.js--subtotal--target').text(formatMoney(cart.original_total_price));
              $minicart.find('.js--total--target').text(formatMoney(cartTotal));
              // $minicart.find('.js--discount--target').text('-'+formatMoney(cart.original_total_price - cart.total_price));
              // $minicart.find('.js--discount-code--target').text();

              if (openCart) {
                $('.venobox[href="#minicart"]').trigger('click');
              }

            });

          }
        </script>

        <script>
          $(document).ready(function(){
            $('body').on('click', '.js--upsell--trigger', function(event){
              event.stopImmediatePropagation();
              event.preventDefault();
              var $btn = $(this);
              var variantId = $btn.attr('data-variant-id');
              $.ajax({
                type: 'post',
                url: '/cart/add.js',
                async: false,
                data: {
                  id: variantId,
                  quantity: 1,
                  properties: {
                    'Special': ' '
                  }
                },
                dataType: 'json',
                error: function(){
                },
                success: function(data){
                  if ({{ standalone }}) {
                    ajaxCart.load();
                  } else {
                    refreshMiniCart(false);
                  }
                  if ($btn.closest('.mwus--items-row').hasClass('row--1-up')) {
                    $('.mwus--wrapper').addClass('hidden');
                  } else {
                    $parent = $btn.closest('.mwus--items-row');
                    $btn.closest('.mwus--item-col').remove();
                    if ($parent.find('.mwus--item-col').length == 0) {
                      $('.mwus--wrapper').addClass('hidden');
                    }
                  }
                  return true;
                },
                cache: false
              });
            });

            if (checkUrlParams('discount') || getCookie('discount')) {
              // console.log('has discount param')

              if (!getCookie('discount')) {
                setCookie('discount', checkUrlParams('discount').toUpperCase(), 3);
              }

              var discountCode = getCookie('discount');

              $('.mwmc--wrapper .mwmc--discount-row').show();
              $('.mwmc--wrapper .js--discount-code--target').text(discountCode);

              $('form[action="/checkout"]').attr('action','/checkout?discount='+discountCode);
              // apply to checkout forms
              // set cookie and pass to CHECKOUT URLs
            } else {
              // no code
            }

            $('body').on('click', '.js--item-qty--trigger', function(event){
              event.preventDefault();

              var lineitemKey = $(this).closest('.mwmc--lineitem').attr('data-lineitem-key');
              var $qtyInput = $(this).closest('.mwmc--quantity--wrapper').find('.js--item-qty--target');
              var variantId = parseInt($qtyInput.attr('data-variant-id'));
              var newQty = parseInt($(this).attr('rel'));


              if ($('.mwmc--wrapper').hasClass('has-upsell-item')) {
                if (!($(this).closest('.mwmc--lineitem').hasClass('mwmc--upsell-item'))) {
                    if (newQty == 0) {
                        alert('Please remove second item.');
                        return false; 
                    }
                }
              }

              if (newQty == 0) { 
                $(`.mwmc--lineitem[data-lineitem-key="${lineitemKey}"]`).remove(); 
              }

              $.ajax({
                type: 'post',
                url: '/cart/update.js',
                async: false,
                data: {
                  updates: {
                    [variantId]: newQty,
                  } 
                },
                dataType: 'json',
                error: function(){
                },
                success: function(data){
                  refreshMiniCart(false);
                  ajaxCart.load();
                  return true;
                },
                cache: false
              });

            });
            
            $.getJSON('/cart.js', function(cart) {
              if (cart.item_count != 0) {
                $.ajax({
                  type: "POST",
                  url: '/cart/clear.js',
                  data: '',
                  dataType: 'json',
                  success: function() { 
                    location.reload();
                  },
                  error: function(XMLHttpRequest, textStatus) {
                    /* error code */
                  }
                });
                return false;
              }
            });

            $('#AddToCartForm').on('submit', function(event){
              event.preventDefault();
              var formData = $(this).serialize();
            
              $.ajax({
                type: 'post',
                url: '/cart/add.js',
                async: false,
                data: formData,
                dataType: 'json',
                error: function(){
                },
                success: function(data){
                  refreshMiniCart(true);
                  return true;
                },
                cache: false
              });
            });
          
          $(window).on('load resize orientationchange', function() {
            $('.mobile-slider').each(function(){
              var $carousel = $(this);
              if ($(window).width() > 991) {
                if ($carousel.hasClass('slick-initialized')) {
                  $carousel.slick('unslick');
                }
              }
              else {
                if (!$carousel.hasClass('slick-initialized')) {
                  $carousel.slick({
                    dots: true,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 1,
                    infinite: true,
                    autoplay: false,
                    autoplaySpeed: 9000,
                    adaptiveHeight: true,
                    arrows: true,
                    nextArrow: '<i class="fa fa-arrow-right large_clear"></i>',
                    prevArrow: '<i class="fa fa-arrow-left large_clear"></i>',
                  });
                }
              }
            });
          });
          
          /* FAQ */
          var allPanels = $('#faq dd').hide();

          $('#faq dt').click(function() {
            allPanels.slideUp();
            $(this).next().slideDown();
            return false;
          });

          /* YOUTUBE */
          $(".youtube").click(function(ev){
            $(this).find('.iframewrapper').show();
            $('iframe',this)[0].src += "?autoplay=1";
          });
            
          var countDownDate = new Date("{{ settings.mw_holiday_timer }} 23:59:59").getTime();
                                       
          // Update the count down every 1 second
          var x = setInterval(function() {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("holiday-countdown").innerHTML = 
              "<div>" + days + "<span>Days</span></div>" 
            + "<div>" + hours + "<span>Hours</span></div>"
            + "<div>" + minutes + "<span>Minutes</span></div>" 
            + "<div>" + seconds + "<span>Seconds</span></div>";

            // If the count down is finished, write some text
            if (distance < 0) {
              clearInterval(x);
              document.getElementById("holiday-countdown").innerHTML = "EXPIRED";
            }
          }, 1000);

          }); 
        </script>
      
    </div>




{% comment %}PULLED FROM RELIEFBAND HOMEPAGE{% endcomment %}
  <script>
    //$(".video").on("mouseenter", function(e) { 
      //$('video', this).show();
      //$('video', this).get(0).play();
    //});

    //$(".video").on("mouseleave", function(e) { 
     // $('video', this).get(0).pause();
    //});
    

    
    $(".scrollvideo").click(function(e){
      $(this).find('.videoshort').css('display','none');
      $(this).find('.poster-play').css('display','none');
      $(this).find('.videolong').css('display','inline-block');
      if ($(this).find('.videolong').get(0).paused) {
        $(this).find('.videolong').get(0).play();
        $(".scrollvideo").removeClass('videoplaying');
        $(this).addClass('videoplaying');
      } else {
        $(this).find('.videolong').get(0).pause();
        $(".scrollvideo").removeClass('videoplaying');
      }
    });

    $(".simplevideo").click(function(e){
      $(this).find('video').show();
      if ($(this).find('video').get(0).paused) {
        document.querySelectorAll('video').forEach(vid => vid.pause());
        $(this).find('video').get(0).play();
        $(".simplevideo").removeClass('videoplaying');
        $(this).addClass('videoplaying');
      } else {
        $(this).find('video').get(0).pause();
        $(".simplevideo").removeClass('videoplaying');
      }
    });

          

    
  </script>

<script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=U7XsFN"></script>
<!-- Start of reathlete Zendesk Widget script -->
      <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=b848615a-4a49-4220-b649-4282241aef34"> </script>
<!-- End of reathlete Zendesk Widget script -->
  </body>
</html>