{% layout none %}
{% assign product = all_products['reathlete-deep4s-massage-gun-holiday-sale'] %}
<!doctype html>
<html lang="en">
  <head>
    <script src="https://www.googleoptimize.com/optimize.js?id=OPT-KLTK9RT"></script>
    <!--Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MPHZR49');</script>
    <!-- End Google Tag Manager -->
    
<script>
/* >> TriplePixel :: start*/
~function(W,H,A,L,E){try{A.setItem(H,1+(0|A.getItem(H)||0)),W.includes("⇈")&&A.setItem(H+"Stg",1+(0|A.getItem(H+"Stg")||0))}catch(e){}function O(T,R){void 0===R&&(R=!1),H=new XMLHttpRequest,H.open("GET","//triplewhale-pixel.web.app/triplepx.txt?"+~(Date.now()/9e7),!0),H.send(null),H.onreadystatechange=function(){4===H.readyState&&200===H.status?setTimeout(function(){return eval(H.responseText)},50):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(T-1))}}A=window,A[H]||(L=function(){return"tp.."+Date.now().toString(36)+Math.random().toString(36)},E=A[H]=function(t,e,n){return W=L(),(E._q=E._q||[]).push([W,e,n]),W},E.ch=W,O(5))}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
</script>
    <script>var head = document.head;var script = document.createElement('script');script.type = 'text/javascript';script.src = "https://180967.tracking.hyros.com/v1/lst/universal-script?ph=d89696fd943dd9ae9e3b8af02aec90e683983855302021b295e5ad876e8c5b94&tag=!tracking";head.appendChild(script);</script>
    {% include 'mwm_optimize' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow, noimageindex, nosnippet, nocache">
    <title>DEEP4S PRO by REATHLETE</title>
    <link rel="shortcut icon" href="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__reathlete__favicon.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/venobox@1.9.3/venobox/venobox.min.css">
    <link rel="stylesheet" href="//cdn.shopify.com/s/files/1/0599/7851/4628/t/1/assets/swatch.css">
    <link rel="stylesheet" href="//cdn.shopify.com/s/files/1/0599/7851/4628/t/1/assets/mw.css?v1.1">
    <style>
      body {background:#0F0F0F;color:white;font-family: 'Montserrat', sans-serif;}
                        /* 11/23/22 */
.announcement-bar p.announcement-bar__message {
    font-weight: 900;
}
.announcement-bar p.announcement-bar__message {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    font-style: italic;
}
.announcement-bar .announcement-bar__message span.scnd_sct {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}
.announcement-bar .announcement-bar__message span.green {
    font-size: 32px;
    color: #90ffbc;
    font-weight: 800;
    letter-spacing: -.05em;
}
.announcement-bar .announcement-bar__message .scnd_sct span:first-child {
    font-size: 20px;
    font-weight: 900;
}
.announcement-bar .announcement-bar__message .scnd_sct span:last-child {
    font-size: 11px;
}
@media (max-width: 768px) {
  .announcement-bar p.announcement-bar__message {
      grid-gap: 0;
      flex-direction: column;
  }
  .announcement-bar .announcement-bar__message span.scnd_sct {
      flex-direction: row;
      grid-gap: 17px;
  }
  .announcement-bar .announcement-bar__message .scnd_sct span:first-child {
      font-size: 17px;
  }
  .announcement-bar .announcement-bar__message span.green {
      font-size: 25px;
  }
  .announcement-bar .announcement-bar__message .scnd_sct span:last-child {
      font-size: 13px;
  }
}
/* END */
      footer {background: #2E2E2E;}
      h1 {font-size: 1.3rem;line-height: 1.9rem;margin: 30px 0 15px;font-weight: 700;}
      h2 {font-size: 2.6rem;font-weight: 300;font-style: italic;letter-spacing: .04rem;text-transform: uppercase;}
      h2 span, .bluegradient {background: #2970f2;background: -webkit-linear-gradient(to right,#2970f2 0,#30cc87 100%);background: -moz-linear-gradient(to right,#2970f2 0,#30cc87 100%);background: linear-gradient(to right,#2970f2 0,#30cc87 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;     display: block;}
      h3 {font-weight: 700;font-size:2.2rem;text-transform:uppercase;font-style:italic;}
      h4 {font-weight: 700;font-size:1rem;text-transform:uppercase;}
      .btn, .display-sales-modal #proceed-form input, .mwus--wrapper .mw--btn {background:#2970F2;padding: 15px 60px;font-size: 1.3rem;letter-spacing: .08rem;font-weight: 900;text-transform: uppercase;font-style: italic; border-radius: 900px;}
      .mwus--wrapper .mw--btn{background-color:#000000;}
      #stickybuy.sticky { z-index: 999999999;}
      .checks {padding:0;margin:0;list-style-type:none;}
      .btn:hover, .display-sales-modal #proceed-form input:hover, .mwus--wrapper .mw--btn:hover{background-color:#525252;}
      .checks li {color: #85EFAF;background: url(https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__fold__check.png) left center no-repeat;background-size: 32px;padding: 5px 5px 0 34px;font-weight: 700;text-transform: uppercase;margin-bottom: 5px;font-size: 14px;}
      .blue {color: #579dff;}
      .teal {color: #2ed5ea;}
      .green {color: #37f1b2;}
      .slick-dots li button:before {color:#999;}
      .slick-dots li.slick-active button:before {color:#2FCC87;}
      .vbox-figlio {box-shadow: 0 12px 100px rgb(0 0 0 / 39%), 0 6px 100px rgb(0 0 0 / 88%); border-radius: 30px;}
      .vbox-content {overflow: visible;}
      .mwus--img-col img {max-width: 100%;margin: 0 auto;display: block;border-radius: 20px;}
      .mwmc--wrapper {color:black;}
      .mwmc--wrapper .text-green {color:#2970F2;}      
      .mwus--wrapper {background: linear-gradient(to right,#2970f2 0,#30cc87 100%);}
      .swatch {display:block;width:100%;text-align:center;}
      .swatch .swatch-element {float:none;display:inline-block;}
      .swatch label {border-width:2px;cursor:pointer;}
      .swatch input[type=radio]:checked+label {box-shadow:none;border-color:rgba(59, 130, 246);}
      .swatch .header {border-top: 2px solid rgba(0,0,0,.1);padding-top: 20px;}
      .holiday-banner {background:#060606;}
      .holiday-banner.cm {background:#2970F1;}
      .holiday-banner.postcm {background:#E20000;}
      .holiday-banner img {max-height:70px;}
      .holiday-banner .holiday-timer {margin: 0 auto;padding-bottom:5px;font-style:italic;font-weight: 700;text-align:center;width:40%;}
      .holiday-banner .holiday-notice {margin:0 10px 0;font-weight: 700;letter-spacing: .02rem;font-size: 11px;}
      .holiday-banner #holiday-countdown {display:flex;justify-content: center;margin: 0 10px;}
      .holiday-banner #holiday-countdown div {font-size:24px;margin:5px;}
      .holiday-banner #holiday-countdown span {color:black;text-transform: uppercase;font-size: 7px;display: block;line-height: 3px;font-weight: 700;}
      .holiday-product-banner {background:#060606;}
      .holiday-product-banner.cm {background:#2970F1;}
      .holiday-product-banner.postcm {background:#E20000;}
      .holiday-product-banner img {max-height:70px;}   
      .holiday-price-banner {display:block;font-weight:700;font-style:italic;color:#F4B92A;margin:0 auto;font-size:14px;text-transform:uppercase;max-width:240px;padding:5px;background:#060606;}
      .holiday-price-banner.cm {color:black;background:#2970F1;}
      .holiday-price-banner.postcm {color:#90FFBC;background:#E20000;}
      .holiday-price-banner span {color:white;} 
      #stickybuy {max-height:90px;background-color: #282828;padding:0;}
      #stickybuy .productimg {max-height: auto; margin: 0 0 0 0;}
      #stickybuy .product-info {height:90px;display:flex;flex-direction:column;}
      #stickybuy .product-info img {margin:0;}
      #stickybuy .stars {max-width: 50px;margin: 5px auto 0 !important;height:auto;}
      #stickybuy .logo {max-width:140px;margin: 0 0 10px;}
      #stickybuy .btn {margin-right: 15px;}
      #stickycart a {background:#2970F2;}
      #hero {padding: 0;text-align:center;background:#060606 url(https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__fold__hero_BG.jpg) right top no-repeat;background-size: 810px; background-size: contain; background-color: #030303;}
      #hero .heroimg {clip-path: polygon(0 0,80% 0%,100% 100%,0% 100%);}
      #hero .logo {max-width:400px;}
      #hero .special {font-weight: 300;font-style: italic;letter-spacing: .04rem;text-transform: uppercase;}
      #hero h2 {font-size:12px;}
      #hero h3.new {font-size: calc(1.3rem + .6vw);letter-spacing:.5px;border-bottom: 1px solid white; display:inline-block;}
      #hero h4 {letter-spacing:.5px;font-size:10px;font-weight: 700;text-transform:uppercase;font-style:italic;margin-bottom:30px;}
      #hero h3.sale {font-size:1.5rem;margin-bottom:90px;}
      #hero .press {max-width:1000px;margin:-80px auto 0;display:flex;position:relative;}
      #hero .press img {max-width:15%;height:auto;}
      #about {background:url(https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__fold__BG_2.png) center top no-repeat;background-size:100%; background-color: black;}
      #about h2 {margin-bottom:30px; max-width:500px; margin: 0 auto;}
      #about h3 {}
      #about .checks li {font-size: 1.1rem;background-position:left 5px;     max-width: 300px; z-index: 2; position: relative;}
      #about .logo {height:42px;}
      #about .youtube {overflow: hidden;border-radius: 20px;width: 84%;margin: 0 auto 30px;box-shadow: 0px 10px 55px rgb(0 0 0 / 20%);margin-bottom: 30px;position: relative;cursor: pointer;}
      #about video{overflow: hidden;border-radius: 20px;width: 84%;margin: 0 auto 30px;box-shadow: 0px 10px 55px rgb(0 0 0 / 20%);margin-bottom: 30px;position: relative;cursor: pointer;display: block;}
      #about .youtube .iframewrapper {position: absolute;top: 0;left: 0;padding-bottom: 56.25%; height: 0;display: none;width: 100%;border-radius: 30px;}
      #about .youtube .iframewrapper iframe {position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 1;}
      #about .inline {/*display:flex;*/max-width: 1110px; margin: 0 auto;     text-align: center;}
      #about .inline li {padding: 5px 5px 5px 32px;margin:10px;background-position:left top;font-size:1rem;display:inline-block; vertical-align: top;     text-align: left;}
      #features {background: url(https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__fold__BG_3.png) center bottom no-repeat;background-size:cover; background-color: #000000;     background-position: bottom; background-size: contain;}
      #features h2.span {font-size:3rem;}
      #features h3 {text-align:center;font-size:1.3rem;}
      #features .specs img {border-radius:15px;margin-bottom:15px;}
      #features .specs video {border-radius:15px;margin-bottom:15px;}
      #features .specs p {margin-bottom:60px;}
      #features .gallery {position:relative;margin:60px auto 120px;padding-bottom:60px;}
      #features .gallery-caption {padding:2rem;text-align:center;width:30%;left:10%;top:100px;position:absolute;border-width: 2px;border-style: solid;border-image: linear-gradient(90deg,#2970f2,#30cc87);border-image-slice: 1; border-width: 5px;}
      #features .gallery-main {text-align:right;}
      #features .gallery-img {height: 840px;margin-right: -280px;margin-bottom: -220px;z-index: 1;position: relative;margin-top: -13px;}
      #features .gallery-img-head {position: absolute;height: 270px;right: 333px;top: 40px;z-index: 0;}
      #features .gallery-list {z-index:9;display:flex;max-width:640px;position:absolute;bottom:0;left:50%;margin-left: -320px;}
      #features .gallery-list .gallery-item {cursor:pointer;max-width: 150px;padding: 15px 0;}
      #features .gallery-list .gallery-item.active {border-bottom: 4px solid;border-image: linear-gradient(90deg,#2970f2,#30cc87);border-image-slice: 1;}
      #features .gallery-list img {transform: rotate(90deg);}
      #reviews {padding: 30px 0 120px;}
      #reviews .reviews-slide {background:#4D4D4D;text-align:left;}
      #reviews .reviews-slide .stars {margin: 30px auto 15px 30px}
      #reviews .reviews-slide>img {width:100%;}
      #reviews .reviews-slide blockquote {margin: 0 30px 30px;font-size: 1.2rem;line-height: 2.2rem;}
      #reviews .reviews-slide p {margin: 0 30px 60px;}
      #reviews .reviews-slide .verified {color: #facb2a;font-style: italic;margin-left: 4px;font-weight: 900;text-transform: uppercase; font-size: 11px;}
      #compare {padding: 60px 0 90px; background-color: #000000;}
      #compare .fold-wrapper {background:linear-gradient(180deg,#2970f2 0,#30cc87);height:100%;padding-bottom:15px;}
      #compare .fold-wrapper img {width:100%;}
      #compare .fold-wrapper .logo {max-width:128px;}
      #compare .other-wrapper {background: #434443;height:100%;padding-bottom:15px;}
      #compare .other-wrapper img {width:100%;}
      #compare .compare-item {text-align:center;padding:15px;border-bottom:1px solid rgba(255,255,255,.2);}
      #compare .compare-item:last-child {border-bottom:0;}
      #compare h4 {margin-top:10px;}
      #compare p {font-size:14px;}
      #guarantee {padding: 150px 0 180px;text-align:center;background: url(https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__deep__BG_4.png?v=1634160182) center top no-repeat; background-size:cover;}
      #guarantee .logo {max-width:140px;}
      #guarantee h3 {margin-bottom:0;}
      #guarantee h2 {font-size:6rem;}
      #guarantee h4 {font-size:1.3rem;font-style:italic;}
      #guarantee .right-border {border-right:2px solid;border-image: linear-gradient(180deg,#2970f2,#30cc87);border-image-slice: 1;}
      #guarantee .guarantee-item {padding:30px;}
      #buynow {padding: 120px 0 30px;background:#181818;}
      #buynow .product-wrapper {background:white;color:black;padding: 0 0 60px;}
      #buynow .sale {font-weight:700;font-size:20px;color:white;text-align: center;padding: 10px 20px 10px 50px;clip-path: polygon(5% 0, 100% 0, 100% 100%, 10% 100%);background: rgb(41,120,233);background: linear-gradient(90deg, rgba(41,120,233,1) 0%, rgba(47,201,138,1) 100%);}
      #buynow .sale span {display: block;font-size:12px;font-weight:700;text-transform:uppercase;font-style:italic;}
      #buynow .logo {max-width: 240px;margin-top:30px;}
      #buynow .price {color:#2970F2;font-size:2.2rem;margin-bottom: 30px;}
      #buynow .price s {color: #666;margin-right:15px;}
      #buynow .price .special {color:black;font-size:1rem;display:block;font-weight:700;}
      #buynow ul {text-align:left;}
      #buynow .includes {margin: 30px 0 0 30px;text-align:left;}
      #buynow .inline-list {overflow: auto}
      #buynow .inline-list li {float:left;padding-left: 0px;margin-left: 30px;}
      #buynow .checks {max-width:60%;margin:auto;}
      #buynow .checks li {color:black;background-image:url(https://cdn.shopify.com/s/files/1/0308/4163/4956/files/mediawire__reathlete__icon_check_4.png);}
      #buynow #ProductPhotoImg {margin-left:10px; padding: 30px;}
      #buynow .secure {max-width:270px;margin-bottom: 15px;}
      #faq {padding: 30px 0 120px;background:#181818;}
      #faq dl {border-bottom-color: white;}
      #faq dt {border-top-color: white;}
      #faq dt:after {filter: invert(1);}
      footer {padding: 60px 0 15px;color:white;}		
      footer img {max-width: 180px;margin-bottom:30px;}
      footer a {color:white;text-decoration:none;}
      footer a:hover {color:white;text-decoration:underline;}
      footer .copyright {margin-top: 60px;font-size:10px;}
      .max-header-width{    max-width: 500px;margin: 0 auto;margin-top: 50px;margin-bottom: 40px;}
      .max-header-width_two{max-width: 600px;margin: 0 auto;margin-top: 50px;margin-bottom: 40px;}
      .heavy{font-style:italic;letter-spacing: -.01rem;}
      .mwus--items-row.row--1-up {grid-template-columns: inherit; text-align: center; grid-gap: 0px;}
      .mwus--order-row {display: inherit;grid-template-columns: inherit;}
      .mwus--info-col{max-width:250px; margin: 0 auto;}
      .mobile{display: none;}
      .pricewrap{display: block;font-size: 30px;line-height: 31px;}
      #hero h3.sale {font-size: 1.2rem;margin-bottom: 18px;margin-top: 5px;}
      .checks li {color: #85EFAF;background: url(https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__fold__check.png) left center no-repeat;background-size: 32px;padding: 5px 5px 0 34px;font-weight: 700;text-transform: uppercase;margin-bottom: 5px;font-size: 13px;width: 45%;text-align: left;display: inline-block;vertical-align: top;}
      #hero .checks{margin-bottom:25px;}

      @media (max-width: 1800px) {
        #hero .press {margin-top: 60px;}
      }

      @media (max-width: 991.98px) {
        .mobile{display: inherit;}
        .desktop{display: none;}
        h1 {font-size:2rem;line-height:2.2rem;margin-top:15px;}
        h1 span {display:block;}
        h2 {font-size:2rem;}
        h3 {font-size:1.6rem;}
        .btn {padding: 15px 40px;}
        .holiday-banner img {max-height: 150px;}
        .holiday-product-banner img {max-height: 150px;}
        #stickybuy {box-shadow: 0 3px 50px rgb(0 0 0 / 99%);margin: 0 10px 40px;max-width: 94%;}
        #stickybuy .btn {width:100%;}
        #stickybuy .productimg {margin:0 15px 0 0;height:90px;}
        #stickybuy .product-info {display:none;}
		    #hero {background:#0F0F0F;padding: 0 0 30px;     background: #000000;}
        #hero .logo {width: 100%;max-width: 260px;margin-top: 10px;}
        #hero .heroimg {clip-path: none;}
        #about .container{padding:0px;}
        #about{padding-top:0px;}
        #hero .press {display: none;}
        #hero h3.sale {margin-bottom: 22px;}
        #about {background-image:url(https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__fold__BG_2_MOBILE_0f78a0d3-5cbb-402d-b528-881d49289f50.png); background-position: bottom; background-position: top;background-size: cover; padding-top: 40px;}
        #about video {margin-bottom:15px;}
        #about h2 {max-width:500px; margin: 0 auto; margin-bottom:20px;  }
        #about h3 {text-align:center;margin:15px 0;}
        #about .checks {margin: 0 15px;}
        #about .checks li { font-size: .8rem; min-height: 31px;}
        #about .youtube {margin: auto;border-radius: 0;/* width: 100%; */margin-bottom: 30px;     margin-top: 30px;} 
        #about video {margin: auto;border-radius: 0;/* width: 100%; */margin-bottom: 30px;     margin-top: 30px;} 
        #about .inline {display:block;margin:0;}
        #about .inline li {margin: 0 0 15px; display: block;margin-left: 30px; width:100%; }
        #features {background-image:url(https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__fold__BG_3_MOBILE.png);background-size:contain;    background-position: center;}
        .slick-slide {margin: 9px;}
        #features .specs .slick-dots {bottom:0; }
        #features .gallery {margin-bottom:0;}
        #features .gallery-img {height: auto;margin-right: -311px;width: 100%;z-index: 0; margin-top: 3px;}
        #features .gallery-img-head {right:85px;height:200px}
        #features .gallery-list {position:relative;left:0;margin:0 0 30px; z-index: 3;}
        #features .gallery-caption {position: unset;width: 100%;padding: 2rem;z-index: 99999;position: relative;left: 0;top: 0%;  }
        #reviews {padding-bottom:0;}
        #reviews .reviews-slide {margin: 5px;}
        #reviews .reviews-slide .stars {margin: 15px;}
        #reviews .reviews-slide blockquote {font-size:1rem;line-height:1.3rem;margin: 0 15px 15px;}
        #reviews .reviews-slide p {margin: 0 15px 30px;}
        #compare .row {margin:0 -25px;}
        #compare .col-6 {padding:0 5px;}
        #compare .logo {padding: 20px 0;}
        #guarantee {padding: 60px 0;background: linear-gradient(to right bottom,#2970f2 0,#30cc87);}
        #guarantee h3 {font-size:2.2rem;}
        #guarantee h2 {font-size:3rem;}
        #guarantee h2 span {-webkit-background-clip: text;-webkit-text-fill-color: white;}
        #guarantee .right-border {border:0;}
        #guarantee .guarantee-item {padding:15px 0;}
        #guarantee h4 {font-size: 1.2rem;}
        #buynow {padding:0 0 60px; padding-top: 60px;}
        #buynow h2 {font-size:2rem;}
        #buynow .product-wrapper {    margin: 0 -10px;margin-top: 20px;}
        #buynow .sale {clip-path: none;padding: 10px 15px;}
        #buynow .logo {    max-width: 250px;margin:0;}
        #buynow #ProductPhotoImg {padding: 0 15px;margin-left:0; max-height: 250px;}
        #buynow .includes {font-size: .8rem;}
        #buynow .inline-list {font-size: 11px;padding-left:20px;padding-right:20px;margin-bottom: 15px;padding-bottom: 15px;}
        #buynow .price {margin-bottom:15px;clear: both;font-size: 26px;}
        #buynow .btn {margin-bottom:15px;}
        #buynow form {padding-left:15px; padding-right:15px;}
        #buynow .checks {max-width: 90%;}
        #features .gallery-main {width: 100%; height:55%; }
        .testimonial_header{clear: both;margin-top:100px;}
        #features .gallery-img-head {right: auto;height: 100%;position: relative;height: auto;width: 63%;left: -44%;top: 3%;}
        #features .gallery-img {position: absolute;height: auto;width: 92%;max-height: 390%;max-width: 220%;right: -40%;top: -6%;margin-right: 0;z-index: 3;}
        #guarantee .guarantee-item.right-border{border-bottom:2px solid rgba(255,255,255,.2);padding-bottom:30px;     margin-bottom: 30px;}
        .guarantee-item{max-width: 300px; margin: 0 auto;}
        .max-header-width {    margin-top: 40px;}
      }
    </style>
    {% comment %}START REMOVE APPS{% endcomment%}
      {% assign url_to_remove = '0' %}
      {% assign lines = content_for_header | newline_to_br | split: '<br />' %}
      {% for line in lines %}
        {% if line contains 'var urls' %}
          {% if url_to_remove == '0' %}
            {% comment %}Remove all apps{% endcomment %}
            {% capture new_line %}
            {% endcapture %}
            {% assign empty_array = new_line | append: "var urls = [];" %}
            {% assign content_for_header = content_for_header | replace: line, empty_array %}
            <script>
                console.log('Removed all apps');
            </script>
          {% else %}
            {% assign url_string = line | remove: "var urls = [" | remove: "];" | strip %}
            {% assign url_array = url_string | split: ',' | uniq %}
            {% comment %}Just remove app at index 'url_to_remove' {% endcomment %}
              <script>
              {% for url in url_array %}
                {% if forloop.index == url_to_remove %}
                  {% assign content_for_header = content_for_header | replace: url, '""' %}
                  console.log('Removed app no. {{ url_to_remove }} of {{ url_array.size }}: {{ url }}');
                {% else %}
                  console.log('App no. {{ forloop.index }} -> {{ url }}');
                {% endif %}
            {% endfor %}
             </script>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% comment %}END REMOVE APPS{% endcomment%}
    {{ content_for_header }}
    <script src="https://front.optimonk.com/public/180077/shopify/preload.js?shop=reathlete.myshopify.com"></script>
    <!-- Hotjar Tracking Code for my site -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2756566,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body>
     <div class="page_announce">
     {% section 'announcement-bar' %}
    </div>
        {% comment %}SALE BANNER{% endcomment %}
<script async src="https://onsite.optimonk.com/script.js?account=180077&origin=shopify-app-embed-block"></script>        
{% if settings.sale_banner_enable %}
<div class="sale_banner" style="background-color:{{settings.sale_banner_background_color}};" >
  <div class="inner_wrapper"  style="color:{{settings.sale_banner_text_color}};">
      {{settings.sale_banner_text}}
      {% include 'media_wire_holiday_timer' %}
 </div>
</div>
{% endif %}
{% comment %}SALE BANNER END{% endcomment %}
    
	<header>
      <nav id="stickybuy">
        <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__deep___spec_5.png?v=1634160182" class="productimg" loading="lazy" alt="">
        <!-- div class="product-info">
          <img src="https://cdn.shopify.com/s/files/1/0599/7851/4628/files/stars.png" loading="lazy" class="stars" alt="">
          <img src="https://cdn.shopify.com/s/files/1/0308/4163/4956/files/mediawire__reathlete_aircpro__logo.png" class="logo" loading="lazy" class="logo" alt="">
        </div -->
        <a href="#buyitnow" class="btn">Buy Now</a>
      </nav>
      <nav id="stickycart">
        <a href="#minicart" data-vbtype="inline" class="venobox">Cart</a>
      </nav>
      {% comment %}{% if settings.select_sale == 'BF' %}
      <div class="holiday-banner bf">
        <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/Reathlete_DEEP_BF_Banner_130OFF_dd2e5d06-8efd-4a39-b35a-d40a59f5b9e6.png?v=1637171798" class="d-none d-lg-block" loading="lazy" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/Reathlete_DEEP_BF_Banner_130OFF_MOBILE_ee7b6a84-a019-4176-911c-8eb1129df457.png?v=1637171798" class="d-block d-lg-none" loading="lazy" alt="">
      </div>
      {% elsif settings.select_sale == 'CM' %}
      <div class="holiday-banner cm">
        <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/Reathlete_DEEP_CM_Banner_150_OFF_5eb0c1a5-fe38-4467-b671-7b2d9b442f38.png?v=1637171798" class="d-none d-lg-block" loading="lazy" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/Reathlete_DEEP_CM_Banner_150_OFF_MOBILE_478cba9b-083c-4dea-a948-ed9e1cfa557f.png?v=1637171798" class="d-block d-lg-none" loading="lazy" alt="">
        <div class="holiday-timer">
          <p class="holiday-notice">ENDING SOON!</p>
          <p id="holiday-countdown"></p>
        </div> 
      </div>
      {% elsif settings.select_sale == 'POSTCM' %}
      <div class="holiday-banner postcm">
        <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/Reathlete_DEEP_HOL_Banner_40_OF_6c05aac2-1096-4e88-b74a-d50e22037758.png?v=1637179255" class="d-none d-lg-block" loading="lazy" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/Reathlete_DEEP_HOL_Banner_40_OFF_MOBILE_b0509b67-59b8-427c-ba6e-b9f9546bf333.png?v=1637179255" class="d-block d-lg-none" loading="lazy" alt="">
      </div>
      {% endif %}{% endcomment %}
    </header>
    
  
    
	<main>
      
      <section id="hero">
		<div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__deep__hero_image_cf9ed353-1cd9-46bc-8f69-0219b21f8983.png?v=1638833596" class="heroimg" alt="">
            </div>
            <div class="col-lg-4 offset-lg-1 d-lg-flex mobile-gutter">
              <div class="m-auto">
                <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__deep__logo_white.png?v=1642095744" class="logo" loading="lazy" alt="">
                <p>DEEP4s PRO premium therapy gun offers healing and relaxing deep tissue massage wherever you go. With a total body reach thanks to its unique adjustable arms, it helps improve muscle recovery so you can perform at your best.</p>

                <ul class="checks desktop">
                  
                  <li>Accelerates muscle recovery</li>
                  <li>100% natural pain relief</li>
                  <li>8 hour battery life</li>
                  <li>Unique rotating massage arm</li>
                  <li>Ergonomic antishock grip</li>
                  <li>Professional strength, whisper-quiet</li>
                </ul>

                {% if settings.select_sale == 'none' %}
                <h2><span>Limited Time Offer</span></h2>
                <div class="pricewrap"><s>$289</s> $199</div>
                <h3 class="sale bluegradient">$100 Off + FREE Shipping</h3>
                {% elsif settings.select_sale == 'BF' %}
                <h2><span>Black Friday SAVINGS:</span></h2>
                <div class="pricewrap"><s>$289.99</s> $179.99</div>
                <h3 class="sale bluegradient">+ FREE Shipping</h3>
                {% elsif settings.select_sale == 'CM' %}
                <h2><span>Cyber Monday SAVINGS:</span></h2>
                <div class="pricewrap"><s>$289.99</s> $179.99</div>
                <h3 class="sale bluegradient">+ FREE Shipping</h3>
                {% elsif settings.select_sale == 'POSTCM' %}
                 <h2><span>Holiday SAVINGS:</span></h2>
                <div class="pricewrap"><s>$289.99</s> $179.99</div>
                <h3 class="sale bluegradient">+ FREE Shipping</h3>
                {% endif %}
                <div class="row">
                  <div class="col-4">
                    <h3 class="new">Fast</h3>
                    <h4>Free Shipping</h4>
                  </div>
                  <div class="col-4">
                    <h3 class="new">30 Day</h3>
                    <h4>Money-Back Guarantee</h4>
                  </div>
                  <div class="col-4">
                    <h3 class="new">1 Year</h3>
                    <h4>Warranty</h4>
                  </div>
                </div>
                <a href="#buyitnow" class="btn">Buy Now</a>
                
                <ul class="checks mobile">
                  
                  <li>Accelerates muscle recovery</li>
                  <li>100% natural pain relief</li>
                  <li>6 hour battery life</li>
                  <li>Unique rotating massage arm</li>
                  <li>Ergonomic antishock grip</li>
                  <li>Professional strength, whisper-quiet</li>
                </ul>

              </div>
            </div>
          </div>
        </div>
		<div class="container">
          <div class="row">
            <div class="col-12">
              <div class="press">
                <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__fold__PRESS_1_6.png" loading="lazy" alt="">
                <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__fold__PRESS_1_7.png" loading="lazy" alt="">
                <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__fold__PRESS_1_8.png" loading="lazy" alt="">
                <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__fold__PRESS_1_9.png" loading="lazy" alt="">
                <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__fold__PRESS_1_10.png" loading="lazy" alt="">
                <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__fold__PRESS_1_11.png" loading="lazy" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <div id="stickystart"></div>
      
      <section id="about">
		    <div class="container">
          {% comment %}<div class="row">
            <div class="col-12 d-block d-lg-none">
              <video playsinline autoplay="autoplay" loop="loop" muted="muted" preload="auto" poster="">
                <source src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/FOLD_SITE_1.mp4" type="video/mp4"> 
              </video>
            </div>
            <div class="col-lg-8 offset-lg-2 text-center">
              <h2>Improve Your Recovery</h2>
            </div>
            <div class="col-lg-3 d-lg-flex offset-lg-1 ">
              <div class="my-auto">
                <ul class="checks">
                  <li>Prevents Delayed-Onset Muscle Soreness</li>
                  <li>Improves Muscular Flexibility</li>
                  <li>Improves Lymphatic Flow</li>
                  <li>Recudes Inflammation</li>
                  <li>Warms Up Muscles To Reduce Chance of Injury</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 d-none d-lg-flex">
              <video playsinline autoplay="autoplay" loop="loop" muted="muted" preload="auto" poster="">
                <source src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/FOLD_SITE_1.mp4" type="video/mp4"> 
              </video>
            </div>
            <div class="col-lg-3 d-lg-flex">
              <div class="my-auto">
                <ul class="checks">
                  <li>Pushes Unwanted Fluid Out of Muscles</li>
                  <li>Breaks Up Scar Tissue & Other Adhesions</li>
                  <li>Provides Quick Relief For Sore Muscles</li>
                  <li>Percussion Helps Relax Muscles</li>
                  <li>Cools Down Muscles By Removing Lactic Acid</li>
                </ul>
              </div>
            </div>
          </div>{% endcomment %}
          <div class="row">
            <div class="col-lg-5 offset-lg-1 d-lg-flex">
              <div class="my-auto mobile-gutter">
                <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__deep__image_2.png?v=1634160182" class="d-block d-lg-none" loading="lazy" alt="">
                <h3>Professional-Grade Power at Your Fingertips</h3>
                <p>DEEP4s PRO features a high-powered motor that delivers up to 60 lbs of force, and its 12mm stroke depth means it penetrates deep into muscles for long-lasting therapeutic relief. Translation? DEEP4s PRO packs enough punch to provide true therapeutic value.</p>
              </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
              <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__deep__image_2_0d9a495a-a39b-4d1f-b63a-a754e9df1256.png?v=1638833507" loading="lazy" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center max-header-width mobile-gutter">
              <h3>Fuel Your Performance with Accelerated Recovery</h3>
              <p>DEEP4s PRO helps drive vital blood flow to sore, tired muscles. This circulation speeds up muscle recovery, reduces soreness, and breaks up scar tissue—helping you get better, faster, even after tough workouts.</p>
            </div>
            <div class="col-12 no-gutter">
              {% comment %}<div class="youtube">
                <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__deep_video_preview.png?v=1634160182" class="videocover" loading="lazy" alt="">
                <div class="iframewrapper">
                  <iframe src="https://www.youtube.com/embed/14bc4oUvIMU" loading="lazy" frameborder="0" allow="autoplay"></iframe>
                </div>
              </div>{% endcomment %}
              <video autoload="meta" playsinline="" class="" poster="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__deep_video_preview.png">
                <source src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/DEEP4s_PRO_short_vid.mp4?v=1639072327" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
            <div class="col-lg-10 offset-lg-1">
              <ul class="checks inline">
                <li>Prevents Delayed-Onset Muscle Soreness</li>
                <li>Accelerates PostWorkout Recovery</li>
                <li>Provides Immediate Pain Relief</li>
              </ul>
              {% comment %}<ul class="checks inline">
            
          
              </ul>{% endcomment %}
            </div>
          </div>
        </div>
      </section>
      
      <section id="features">
		<div class="container">
          <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center mb-5">
              <h2><span>Designed With Your<br>Performance In Mind</span></h2>
            </div>
          </div>
          <div class="row specs">
            <div class="col-lg-4">
              <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__deep___spec_1.png" loading="lazy" alt="">
              <h3>adjustable arm</h3>
              <p>The only deep tissue massager you can fold in half and fit neatly in your bag or purse.</p>
            </div>
            <div class="col-lg-4">
              <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__deep___spec_2.png" loading="lazy" alt="">
              <h3>Powerful</h3>
              <p>16mm Amplitude motor features up to 60 pounds of force. Enough to provide true therapeutic value, even for professional athletes.</p>
            </div>
            <div class="col-lg-4">
             {% comment %} <video playsinline loop muted autoplay preload="auto">
                <source src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/FOLD_SITE_2_1.mp4" type="video/mp4"> 
              </video>{% endcomment %}
                <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__deep___spec_3.png" loading="lazy" alt="">
              <h3>strong & quiet</h3>
              <p>Despite DEEP4s PRO's mighty motor, it’s incredibly quiet at less than 55 dB (about the volume of a quiet library). No worries about disturbing your gym-mates.</p>
            </div>
            <div class="col-lg-4">
               <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__deep___spec_4_5d47377c-d53b-467f-ba8e-949281a93e18.png?v=1638833838" loading="lazy" alt="">
              <h3>8-hour battery life</h3>
              {% comment %}<p>DEEP4s PRO’s impressive battery life lasts everywhere you need it—at work, the gym, the studio, and more</p>{% endcomment %}
            </div>
            <div class="col-lg-4">
               <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__deep___spec_5_6236a253-8981-4ef5-a7ee-b20310e1d14e.png?v=1638833838" loading="lazy" alt="">
              <h3>Ergonomic Handle</h3>
              {% comment %}<p>Comfortable to use and handle for an extended period of time</p>{% endcomment %}
            </div>
            <div class="col-lg-4">
                <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__deep__spec_6.png?v=1634160182" loading="lazy" alt="">
              <h3>16mm Amplitude</h3>
              {% comment %}<p>Penetrates deep into muscles for long-lasting therapeutic relief</p>{% endcomment %}
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center mt-5 max-header-width">
              <h2>5 Premium Massage Heads</h2>
              <p>Our 5 premium OmniPress™ massage heads use a variety of shapes and materials to provide maximum muscle recovery and relaxation.</p>
            </div>
            <div class="col-12 gallery">
              <div class="gallery-main">
                <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__deep__carousel_1.png?v=1634160182" class="gallery-img desktop" loading="lazy" alt="">
                 <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__deep__carousel_1_MOBILE__2.png?v=1634162274" class="gallery-img mobile" loading="lazy" alt="">
                <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__fold__carousel_2.png" class="gallery-img-head" loading="lazy" alt="">
              </div>
              <div class="gallery-list">
                <div class="gallery-item big-ball active">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__fold__carousel_2.png" loading="lazy" alt="">
                </div>
                <div class="gallery-item arrow-head">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__fold__carousel_3.png" loading="lazy" alt="">
                </div>
                <div class="gallery-item flat">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__fold__carousel_4.png" loading="lazy" alt="">
                </div>
                <div class="gallery-item fork">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__fold__carousel_5.png" loading="lazy" alt="">
                </div>
                <div class="gallery-item tri-head">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__fold__carousel_6.png" loading="lazy" alt="">
                </div>
              </div>
              <div class="gallery-caption">
                <h3>Big Ball</h3>
                <p>Perfect for large muscle groups like hips, thighs, and arms</p>
              </div>
            </div>
          </div>
        </div>
		<div class="container-fluid text-center" id="reviews">
          <div class="row">
            <div class="col-lg-6 offset-lg-3 mb-4 testimonial_header">
              <h2><span>"ONE WORD - WOW"</span></h2>
            </div>
            <div class="col-lg-12">
              <div class="reviews-slider">
                <div class="reviews-slide">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__deep___testimonial_1.png?v=1634160182" loading="lazy" alt="">
                  <img src="https://cdn.shopify.com/s/files/1/0599/7851/4628/files/stars.png" loading="lazy" class="stars" alt="">
                  <blockquote>"I needed a portable massage gun for my gym bag and gave this a try. It’s so convenient to carry it around. It’s not only portable but works well. Holds charge for few days. The storage case is a plus. All accessories go in it and keeps them in one place. The massager was easy on the shoulders and back."</blockquote>
                  <p class="author">Preethi<span class="verified">Verified Buyer</span></p>
                </div>
                <div class="reviews-slide">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__deep___testimonial_2_d65a991d-2879-4b4e-8be7-838c41325136.png?v=1638833952" loading="lazy" alt="">
                  <img src="https://cdn.shopify.com/s/files/1/0599/7851/4628/files/stars.png" loading="lazy" class="stars" alt="">
                  <blockquote>"I have a lower back condition and this really works and loosens and relaxes my lower back muscles. Plenty of charge and power, very compact to travel with. Like the how it folds in different directions and speed. I do recommend this for people with back pain."</blockquote>
                  <p class="author">Luis Huerta <span class="verified">Verified Buyer</span></p>
                </div>
                <div class="reviews-slide">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__deep___testimonial_4.png?v=1634160182" loading="lazy" alt="">
                  <img src="https://cdn.shopify.com/s/files/1/0599/7851/4628/files/stars.png" loading="lazy" class="stars" alt="">
                  <blockquote>"This massager is incredible. My physical therapist recommended it. This massager folds to make it easy to work on my thighs without straining my wrists. I am very grateful that this was recommended to me. It is truly worth its weight in gold"</blockquote>
                  <p class="author">Beverly <span class="verified">Verified Buyer</span></p>
                </div>
                <div class="reviews-slide">
                 
                   <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__deep___testimonial_5_45474a69-e71f-485a-90c1-81ba12171cc3.png?v=1638833952" loading="lazy" alt="">
                  <img src="https://cdn.shopify.com/s/files/1/0599/7851/4628/files/stars.png" loading="lazy" class="stars" alt="">
                  <blockquote>"The quality of this massager exceeds expectations! I have had a ton of massages before, but I can attest to this device working areas that fingers and hands can't soothe."</blockquote>
                  <p class="author">Perry <span class="verified">Verified Buyer</span></p>
                </div>
                <div class="reviews-slide">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__deep___testimonial_3.png?v=1634160182" loading="lazy" alt="">
                  {% comment %}<img src="https://cdn.shopify.com/s/files/1/0599/7851/4628/files/stars.png" loading="lazy" class="stars" alt="">{% endcomment %}
                 {% comment %} <blockquote>"This is a great first massage gun because it's easy to use and comes with a variety of attachments. Its small and quiet and it's simple to use and has a wide range of settings to treat different levels of muscular discomfort."</blockquote>
                  <p class="author">Maxander <span class="verified">Verified Buyer</span></p>{% endcomment %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
    {% comment %}  <section id="compare">
		<div class="container">
          <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center mb-5 max-header-width_two">
              <h2>Unlike Every Other Massage Gun On The Market</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-lg-4 offset-lg-2">
              <div class="fold-wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__fold___compare_1.png" loading="lazy" alt="">
                <div class="compare-item">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__fold__logo_word.png" class="logo" loading="lazy" alt="">
                </div>
                <div class="compare-item">
                  <h4>16MM Amplitude</h4>
                  <p>40% deeper than other massagers</p>
                </div>
                <div class="compare-item">
                  <h4>4 Speeds</h4>
                  <p>1200-3200 RPM, 35-60 Lbs</p>
                </div>
                <div class="compare-item">
                  <h4>Quiet Brushless Motor</h4>
                  <p>35-50db</p>
                </div>
                <div class="compare-item">
                  <h4>6 Hours Battery Life</h4>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-4">
              <div class="other-wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__fold___compare_2.png" loading="lazy" alt="">
                <div class="compare-item">
                  <h4>Standard Vibration Massagers</h4>
                </div>
                <div class="compare-item">
                  <h4>10MM Amplitude</h4>
                  <p>Not deep enough to really massage the muscles</p>
                </div>
                <div class="compare-item">
                  <h4>4-20 Speeds</h4>
                  <p>1000-2800 RPM, 20-40Lbs</p>
                </div>
                <div class="compare-item">
                  <h4>Loud Motors</h4>
                  <p>50-80db</p>
                </div>
                <div class="compare-item">
                  <h4>Most Models 2 Hours</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>{% endcomment %}
      
      <section id="guarantee">
		<div class="container">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <h3>Try  <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__deep__logo_word.png?v=1634160181" class="logo" loading="lazy" alt=""></h3>
              <h2><span>Risk Free</span></h2>
            </div>
            <div class="col-lg-4 guarantee-item right-border offset-lg-2">
              <h4>Extended Money-Back Guarantee</h4>
              <p>Try DEEP4S PRO risk-free up until January 31. If you don’t love the way it helps you to recover after tough workouts, just send it back for a full refund.</p>
            </div>
            <div class="col-lg-4 guarantee-item">
              <h4>One Year Warranty</h4>
              <p>Your purchase of DEEP4S PRO is protected by a hassle-free 1-year warranty. If anything goes wrong, just let us know and we’ll replace it free of charge.</p>
            </div>
          </div>
        </div>
      </section>

      <div id="stickyend"></div>

      <section id="buynow">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center ">
              <h2 class="d-none d-lg-block max-header-width_two">Save $100 on DEEP4s PRO For a Limited Time Only!</h2>
              <p class="mb-5 d-none d-lg-block max-header-width_two">Experience the relaxing and healing effects of deep tissue massage anytime and anywhere you want with DEEP4s PRO, the professional-grade device that helps relieve pain, reduce soreness, and accelerate muscle recovery so you can perform at your best.</p>
              <div class="product-wrapper" id="buyitnow">
                {% if settings.select_sale == 'BF' %}
                <div class="holiday-product-banner bf">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/Reathlete_DEEP_BF_Banner_130OFF_dd2e5d06-8efd-4a39-b35a-d40a59f5b9e6.png?v=1637171798" class="d-none d-lg-block" loading="lazy" alt="">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/Reathlete_DEEP_BF_Banner_130OFF_MOBILE_ee7b6a84-a019-4176-911c-8eb1129df457.png?v=1637171798" class="d-block d-lg-none" loading="lazy" alt="">
                </div>
                {% elsif settings.select_sale == 'CM' %}
                <div class="holiday-product-banner cm">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/Reathlete_DEEP_CM_Banner_150_OFF_5eb0c1a5-fe38-4467-b671-7b2d9b442f38.png?v=1637171798" class="d-none d-lg-block" loading="lazy" alt="">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/Reathlete_DEEP_CM_Banner_150_OFF_MOBILE_478cba9b-083c-4dea-a948-ed9e1cfa557f.png?v=1637171798" class="d-block d-lg-none" loading="lazy" alt="">
                </div>
                {% elsif settings.select_sale == 'POSTCM' %}
                <div class="holiday-product-banner postcm">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/Reathlete_DEEP_HOL_Banner_40_OF_6c05aac2-1096-4e88-b74a-d50e22037758.png?v=1637179255" class="d-none d-lg-block" loading="lazy" alt="">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/Reathlete_DEEP_HOL_Banner_40_OFF_MOBILE_b0509b67-59b8-427c-ba6e-b9f9546bf333.png?v=1637179255" class="d-block d-lg-none" loading="lazy" alt="">
                </div>
                {% endif %}
                <div class="row">
                  <div class="col-lg-6 d-none d-lg-block">
                    <div id="desktop-product-img">
                      <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__deep___product_1_5115a022-c608-461b-b86e-8e9ec9157b12.png?v=1638834046" loading="lazy" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
                    </div>
                    <p class="includes heavy"><strong>INCLUDES:</strong></p>
                    <ul class="inline-list">
                      <li>1 DEEP4s PRO Massage Gun</li>
                      <li>Protective Carrying Case</li>
                      <li>5 Premium Massage Heads</li>
                      <li>1 User Manual</li>
                      <li>1 AC adapter</li>
                    </ul>
                  </div>
                  <div class="col-lg-6">
                    {% if settings.select_sale == 'none' %}
                    <p class="sale">Order Today and Save $100 <span>Price Only Available Here</span></p>
                    {% endif %}
                    <img src="https://cdn.shopify.com/s/files/1/0249/8687/8038/files/mediawire__deep__logo_black_64dac8d0-2f1b-4b12-be1a-0e76aec27c08.png?v=1638833433" class="logo" loading="lazy" alt="">
                    <div id="mobile-product-img"></div>
                    <div class="d-block d-lg-none">
                      <p class="includes"><strong>INCLUDES:</strong></p>
                      <ul class="inline-list">
                        <li>1 FOLD Massage Gun</li>
                        <li>Protective Carrying Case</li>
                        <li>5 Premium Massage Heads</li>
                        <li>1 User Manual</li>
                        <li>1 AC adapter</li>
                      </ul>
                    </div>
                    <p class="price">
                      {% if settings.select_sale == 'none' %}
                      <s id="ComparePrice">{{ product.compare_at_price | money }}</s>
                      <span id="ProductPrice">{{product.price | money}}</span>
                      {% elsif settings.select_sale == 'BF' %}
                      <s>$289.99</s>
                      <span>$179.99</span>
                      <span class="holiday-price-banner bf">Black Friday <span>Savings!</span></span>
                      {% elsif settings.select_sale == 'CM' %}
                      <s>$289.99</s>
                      <span>$179.99</span>
                      <span class="holiday-price-banner cm">Cyber Monday <span>Savings!</span></span>
                      {% elsif settings.select_sale == 'POSTCM' %}
                      <s>$289.99</s>
                      <span>$179.99</span>
                      <span class="holiday-price-banner postcm">Holiday <span>Savings!</span></span>
                      {% endif %}
                      
                      <span class="special heavy">+ FREE SHIPPING</span>
                    </p>
                    <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="js--form-interrupt--target">
                      <select name="id" id="productSelect" class="product-single__variants selector-wrapper">
                        {% for variant in product.variants %}
                        {% if variant.available %}
                        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                        {% else %}
                        <option disabled="disabled">
                          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                        </option>
                        {% endif %}
                        {% endfor %}
                      </select>
                      <div id="swatch">
                        {% if product.available and product.variants.size > 1 %}
                        {% for option in product.options %}
                        {% include 'swatch' with option %}
                        {% endfor %}
                        {% endif %}
                      </div>
                      <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
                      <button type="submit" name="add" id="AddToCart" class="btn">Add To Cart</button>
                    </form>   
                    <img src="https://cdn.shopify.com/s/files/1/0308/4163/4956/files/mediawire__reathlete__secures.png" loading="lazy" class="secure" alt="">
                    <ul class="checks">
                      <li>Extended Money-Back Guarantee Until Jan 31</li>
                      <li>1-Year Warranty</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <section id="faq">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <h2 class="text-center">Frequently Asked Questions</h2>
              <dl>
                <dt>What is included with my order?</dt>
                <dd>                    
                  <ul>
                    <li>1 DEEP4s PRO Percussive Massager</li>
                    <li>Protective Carrying Case</li>
                    <li>5 Premium Massage Heads</li>
                    <li>1 User Manual</li>
                    <li>1 AC adapter</li>
                  </ul>
                </dd>
                <dt>How powerful is the DEEP4s PRO motor?</dt>
                <dd>DEEP4s PRO features 4 speeds, ranging from 1200-3200 RPM.</dd>
                <dt>How loud is the motor?
</dt>
                <dd>DEEP4s PRO is very quiet. Even at the highest settings, it’s no louder than 55 db (about the volume of a quiet library).
</dd>
                <dt>How big is DEEP4s PRO?
</dt>
                <dd>Dimensions: 23cm x 13cm x 5cm / 2″L x 5.1″W x 9″H
Weight: 1.21 kg / 2.66 lb
</dd>
                

 <dt>How long does the battery last?

</dt>
                <dd>Lasts up to 8 hours on a single charge; lasts about 3 hours on the highest setting. Recharges in about 90 minutes.

</dd>
                 <dt>How does a massage gun like DEEP4s PRO work?

</dt>
                <dd>DEEP4s PRO works just like a deep tissue massage: by breaking up scar tissue, reducing tension, and improving circulation to tired or sore muscles.

</dd>
                





                <dt>What condition(s) does DEEP4s PRO help with?</dt>
                <dd>DEEP4s PRO helps improve all these conditions:
                
                  <ul>
                    <li>Prevents delayed-onset muscle soreness</li>
                    <li>Pushes unwanted fluid out of the muscles</li>
                    <li>Improves muscular flexibility</li>
                    <li>Breaks up scar tissue & other adhesions</li>
                    <li>Improves lymphatic flow</li>
                    <li>Provides quick relief for sore muscles</li>
                    <li>Reduces inflammation</li>
                    <li>Relaxes muscles</li>
                    <li>Warms up muscles to reduce chance of injury</li>
                    <li>Cools down muscles by removing lactic acid</li>
                  </ul>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </section>
      
      {% comment %}<section id="productreviews">
      	<div class="container">
          <div class="row">
            <div class="col-12">              
              <div data-bv-show="reviews" data-bv-product-id="6673757175894"></div>
            </div>
          </div>
        </div>
      </section>{% endcomment %}
      
    </main>
    
    <footer>
      <img src="https://cdn.shopify.com/s/files/1/0308/4163/4956/files/mediawire__reathlete__logo_small_8dc41bdc-03d6-4420-80ff-4783bab25805.png" loading="lazy" alt="">
      <p><a href="tel:17574147772">1 (757) 414-7772</a></p>
      <p class="copyright">&copy; Copyright ReAthlete. All Rights Reserved</p>
    </footer>

    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/venobox@1.9.3/venobox/venobox.min.js"></script>  
    <script src="//cdn.shopify.com/s/files/1/0599/7851/4628/t/1/assets/mw_timber.js"></script>
    <script src="//cdn.shopify.com/s/files/1/0599/7851/4628/t/1/assets/ajax-cart.js"></script> 
    <script src="{{ 'option_selection.js' | shopify_asset_url }}"></script>

    <script>
        var selectCallback = function(variant, selector) {
          if (variant) {
            var form = jQuery('#' + selector.domIdPrefix).closest('form');
            for (var i=0,length=variant.options.length; i<length; i++) {
              var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
              if (radioButton.length) {
                radioButton.get(0).checked = true;
              }
            }
          }
          timber.productPage({
            money_format: "{{ shop.money_format }}",
            variant: variant,
            selector: selector
          });
        };

        jQuery(function($) {
          new Shopify.OptionSelectors('productSelect', {
            product: {{ product | json }},
            onVariantSelected: selectCallback,
            enableHistoryState: true
          });
          // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
          {% if product.options.size == 1 and product.options.first != 'Title' %}
          	$('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
          {% endif %}
          // Hide selectors if we only have 1 variant and its title contains 'Default'.
          {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
          	$('.selector-wrapper').hide();
          {% endif %}
          jQuery('.swatch :radio').change(function() {
            var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
            var optionValue = jQuery(this).val();
            jQuery(this)
            .closest('form')
            .find('.single-option-selector')
            .eq(optionIndex)
            .val(optionValue)
            .trigger('change');
          });
        });
    </script>
    
    <div id="cart">
      {% comment %}{% assign free_shipping_enabled = true %}{% endcomment %}
      {% assign atc_form_selector = '#AddToCartForm.js--form-interrupt--target' %}
      {% assign standalone = false %}
      {% assign free_shipping_amount = 0 %}
      {% assign minicart_discount_code = '' %}
      {% assign minicart_discount_code_amount = 50 %}
      {% assign minicart_discount_code_type = 'lineitem' %}{% comment %}lineitem, dollar, percent{% endcomment %}
      {% assign minicart_upsell_enabled = true %}
      {% assign upsell_discount_enabled = true %}
      {% assign upsell_discount_amount = 50 %}
      {% assign upsell_discount_type = 'dollar' %} {% comment %}dollar,percent{% endcomment %}
      {% if minicart_discount_code_type != 'percent' %}
        {% assign minicart_discount_code_amount = minicart_discount_code_amount | times: 100 %}
      {% endif %}

        <div id="minicart" class="modalwrapper" style="display: none;">
          <div class="mwmc--wrapper display-sales-modal display-sales-modal-2 modal_inner upsell_modal">
            <a onclick="$('.vbox-close').click();" class="mwmc--close">&times;</a>
            <div class="mwmc--header js--shipping-message--target clearfix">Your Cart</div>
            <div class="mwmc--lineitems-wrapper js--lineitems--target"></div>
            <div class="mwmc--summary-wrapper">
             {% comment %}<div class="mw--row">
                <div class="mwmc--summary-title mw--col mw--col-7 text-right">Was:</div>
                <div class="mw--col mw--col-5 text-right"><span class="js--subtotal--target"></span></div>
              </div>
            <div class="mw--row mwmc--discount-row">
                <div class="mwmc--summary-title mw--col mw--col-7 text-right">Discount Applied:</div>
                <div class="mw--col mw--col-5 text-right text-green"><span class="js--discount-code--target">{{ minicart_discount_code }}</span></div>
              </div>{% endcomment %}
              <div class="mw--row js--shipping-row--target">
                <div class="mwmc--summary-title mw--col mw--col-7 text-right">Shipping:</div>
                <div class="mw--col mw--col-5 text-right">FREE</div>
              </div>
              <div class="mw--row">
                <div class="mwmc--summary-title mw--col mw--col-7 text-right">Total:</div>
                <div class="mw--col mw--col-5 text-right text-green"><span class="js--total--target"></span></div>
              </div>
              <div class="mw--row">
                <div class="mw--col mw--col-12 text-right">
                  <form action="/checkout" method="post" id="proceed-form" data-money-format="$" data-shop-currency="USD" data-shop-name="Protalus">
                  <input type="submit" class="mw--btn btn btn-checkout" value="Checkout">
                  </form>
                </div>
              </div>
            </div>
          </div>

          {% if minicart_upsell_enabled %}
            {% if standalone %}

            {% else %}
                {% assign standalone = false %}
            {% endif %}
            {% assign upsell_product_handles = 'air-c-pro-upsell' | split: ',' %}
            {% comment %}{% assign upsell_discount_code = 'WINTER25MORE' %}{% endcomment %}
            {% assign upsell_discount_amount = 0 %}
            {% assign upsell_discount_type = 'dollar' %}
            {% assign discount_code_message = 'Add a Air C Pro for only $149.99' %}
            {% if upsell_discount_type != 'percent' %}
                {% assign upsell_discount_amount = upsell_discount_amount | times: 100 %}
            {% endif %}

            <div class="mwus--wrapper {% if standalone %}side-upsell{% endif %}">
                {% if standalone %}
                    <div class="mwus--discount-details font-heavy clearfix">
                        {{ discount_code_message }}
                    </div>
                {% else %}
                    <div class="clearfix text-center">
                        <div class="mwus--special-offer font-heavy">Special offer!</div>
                        <div class="mwus--discount-details">{{ discount_code_message }}</div>
                    </div>
                {% endif %}
                <div class="mwus--items-row row--{{ upsell_product_handles.size }}-up">
                    {% if upsell_product_handles.size == 1 %}
                        {% assign product = all_products[upsell_product_handles.first] %}   
                        {% assign variant = product.selected_or_first_available_variant %}
                        {% if upsell_discount_type == 'percent' %}
                            {% assign amount_off = upsell_discount_amount | times: 0.01 | times: product.price %}
                            {% assign upsell_discount_price = product.price | minus: amount_off %}
                        {% else %}
                            {% assign upsell_discount_price = product.price | minus: upsell_discount_amount %}
                        {% endif %}
                        <div class="mwus--img-col">
                            <img src="{{ product.featured_image | img_url: '200x' }}" alt="{{ product.title }}">
                        </div>
                        <div class="mwus--info-col">
                           {% comment %} <div class="mwus--product-title">{{ product.title }}</div>
                            <div class="mwus--variant-title text-faint">{{ variant.title }}</div>{% endcomment %}
                            <div class="mwus--order-row  row--order">
                                {% comment %}<div class="msus--col col-half">
                                    <div class="mwus--product-original-price text-faint"><s>$289.99</s></div>
                                    <div class="mwus--product-sale-price">{{ upsell_discount_price | money }}</div>
                                </div>{% endcomment %}
                                <div class="msus--col col-half">
                                    <a href="#" class="js--upsell--trigger btn mw--btn" data-variant-id="{{ variant.id }}">Add</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        {% for i in upsell_product_handles %}
                            {% assign product =  all_products[i] %}
                            {% assign variant = product.selected_or_first_available_variant %}
                            {% if upsell_discount_type == 'percent' %}
                                {% assign amount_off = upsell_discount_amount | times: 0.01 | times: product.price %}
                                {% assign upsell_discount_price = product.price | minus: amount_off %}
                            {% else %}
                                {% assign upsell_discount_price = product.price | minus: upsell_discount_amount %}
                            {% endif %}
                            <div class="mwus--item-col">
                                <div class="mwus--product-row">
                                    <div class="mwus--img-col">
                                        <img src="{{ product.featured_image | img_url: '200x' }}" alt="{{ product.title }}">
                                    </div>
                                    <div class="mwus--info-col">
                                        <div class="mwus--product-title ">{{ product.title }}</div>
                                        <div class="mwus--variant-title text-grey">{{ variant.title }}</div>
                                        <div class="mwus--product-original-price text-grey"><s>{{ product.price | money }}</s></div>
                                        <div class="mwus--product-sale-price text-green">{{ upsell_discount_price | money }}</div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <a href="#" class="js--upsell--trigger mw--btn btn btn-block" data-variant-id="{{ variant.id }}">Add</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
          {% endif %}
        </div>      
      <script>        
        const discountObj = {'{{ minicart_discount_code }}': { type: '{{ minicart_discount_code_type }}', amount: {{ minicart_discount_code_amount}} },}
        
        function getCookie(name) {
          var v = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
          return v ? v[2] : undefined;
        }
        
        function setCookie(name, value, days) {
          var d = new Date;
          d.setTime(d.getTime() + 24*60*60*1000*days);
          document.cookie = name + '='+value+';path=/;expires='+d.toGMTString();
        }
        
        function deleteCookie(name) {
          setCookie(name, '', -1);
        }
        
        function checkUrlParams(sParam){
          var sPageURL = decodeURIComponent(window.location.search.substring(1)),
              sURLVariables = sPageURL.split('&'), sParameterName, i;

          for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] === sParam) {
              return sParameterName[1] === undefined ? true : sParameterName[1];
            }
          }
        }
        
        function formatMoney(cents) {
          return '$'+(cents*0.01).toFixed(2);
        }
        
        function refreshMiniCart(openCart) {
          $minicart = $('.mwmc--wrapper');
          $lineitemsTarget = $minicart.find('.js--lineitems--target');
          // $lineitemsTarget.empty();
          $.getJSON('/cart.js', function(cart) {
            var runningDiscount = 0;
            var cartTotal = cart.total_price;
            var hasUpsellItem = false;
            $.each(cart.items, function(index, lineitem){
              var lineitemPricing;
              var finalLinePrice = lineitem.final_line_price
              var isUpsellItem = lineitem.properties && lineitem.properties['Special6'];
              if (isUpsellItem && {{ upsell_discount_enabled }}) {
                  hasUpsellItem = true;
              }
              if (discountObj[getCookie('discount')] && discountObj[getCookie('discount')].type == 'lineitem') {
                var lineitemDiscount
                if (lineitem.properties && lineitem.properties['Special6'] && {{ upsell_discount_enabled }}) {
                    if ('{{ upsell_discount_type }}' == 'percent') {
                    	lineitemDiscount = lineitem.original_line_price * (1 - (0.01 * parseInt('{{ upsell_discount_amount }}')))
                    } else {
                    	lineitemDiscount = lineitem.quantity * parseInt('{{ upsell_discount_amount }}');
                    }
                } else {
                    lineitemDiscount = lineitem.quantity * discountObj[getCookie('discount')].amount;
              	}
                finalLinePrice = lineitem.original_line_price - lineitemDiscount;
                runningDiscount += lineitemDiscount;
              }
              if (finalLinePrice < lineitem.original_line_price) {
                lineitemPricing = `<div class="mwmc--original-lineprice text-grey"><s>${formatMoney(lineitem.original_line_price)}</s></div>
                    <div class="mwmc--sale-lineprice text-green">${formatMoney(finalLinePrice)}</div>`;
              } else {
                lineitemPricing = `<div class="mwmc--sale-lineprice text-green">${formatMoney(finalLinePrice)}</div>`;
              }
              var lineitemContent = `<div class="mw--row">
                  <div class="mwmc--img-col mw--col mw--col-6 mw--col-md-3">
                      <img src="${lineitem.image}" class="card-img-top" />
                  </div>
                  <div class="mwmc--info-col mw--col mw--col-6 mw--col-md-6">
                      <div class="mwmc--product-title">${lineitem.product_title}</div>
                      <div class="mwmc--variant-title text-grey ${lineitem.variant_title}">${lineitem.variant_title}</div>
                      <div class="mwmc--quantity--wrapper">
                          <a href="#" class="js--item-qty--trigger minus" rel="${lineitem.quantity-1}">-</a>
                          <span class="js--item-qty--target" data-variant-id="${lineitem.variant_id}">${lineitem.quantity}</span>
                          <a href="#" class="js--item-qty--trigger plus" rel="${lineitem.quantity+1}">+</a>
                      </div>
                  </div>
                  <div class="mw--col mw--col-12 mw--col-md-3 text-right">${lineitemPricing}</div>
              </div>`;
              if ($(`.mwmc--lineitem[data-lineitem-key="${lineitem.key}"]`).length) {
                $(`.mwmc--lineitem[data-lineitem-key="${lineitem.key}"]`).html(lineitemContent);
              } else {
                // new item
                $lineitemsTarget.append(`<div class="mwmc--lineitem ${isUpsellItem ? 'mwmc--upsell-item' : ''}" data-lineitem-key="${lineitem.key}">${lineitemContent}</div>`);
              }
            });
          
            if (discountObj[getCookie('discount')] && discountObj[getCookie('discount')].type != 'lineitem') {
              if (discountObj[getCookie('discount')].type == 'percent') {
                // percentage calc
              } else {
                runningDiscount = discountObj[getCookie('discount')].amount;
              }
            }
          
            if (hasUpsellItem) {
              $('.mwmc--wrapper').addClass('has-upsell-item');
              $('.mwus--wrapper').hide();
            } else {
              $('.mwmc--wrapper').removeClass('has-upsell-item');
              $('.mwus--wrapper').show();
            }

            if (cart.items.length == 0) {
              $('.mwus--wrapper').hide();
            }

            if (getCookie('discount')) {
              $('.mwmc--wrapper .mwmc--discount-row').show();
              $('.mwmc--wrapper .js--discount-code--target').text(getCookie('discount'));
            }

            if (runningDiscount > 0) {
              cartTotal = cart.original_total_price - runningDiscount;
            }

            if ({{ free_shipping_amount }} == 0 || cartTotal >= {{ free_shipping_amount | times: 100 }}) {
                $('.js--shipping-message--target').html('Your Cart qualifies <strong>for Free&nbsp;Shipping!</strong>');
              $('.js--shipping-row--target').show();
            } else {
              $('.js--shipping-message--target').html('Your Cart')
              $('.js--shipping-row--target').hide();
            }

            $minicart.find('.js--subtotal--target').text(formatMoney(cart.original_total_price));
            $minicart.find('.js--total--target').text(formatMoney(cartTotal));
            // $minicart.find('.js--discount--target').text('-'+formatMoney(cart.original_total_price - cart.total_price));
            // $minicart.find('.js--discount-code--target').text();

            if (openCart) {
              $('.venobox[href="#minicart"]').trigger('click');
            }

          });

        }
 
      </script>
    </div>
     
    <script>
      $(document).ready(function($) {
        // START
        console.log("page loaded!");

        $('body').on('click', '.js--upsell--trigger', function(event){
          event.stopImmediatePropagation();
          event.preventDefault();
          var $btn = $(this);
          var variantId = $btn.attr('data-variant-id');
          $.ajax({
            type: 'post',
            url: '/cart/add.js',
            async: false,
            data: {
              id: variantId,
              quantity: 1,
              properties: {
                'Special6': 'Special6'
              }
            },
            dataType: 'json',
            error: function(){
            },
            success: function(data){
              if ({{ standalone }}) {
                ajaxCart.load();
              } else {
                refreshMiniCart(false);
              }
              if ($btn.closest('.mwus--items-row').hasClass('row--1-up')) {
                $('.mwus--wrapper').addClass('hidden');
              } else {
                $parent = $btn.closest('.mwus--items-row');
                $btn.closest('.mwus--item-col').remove();
                if ($parent.find('.mwus--item-col').length == 0) {
                  $('.mwus--wrapper').addClass('hidden');
                }
              }
              return true;
            },
            cache: false
          });
        });

        if (checkUrlParams('discount') || getCookie('discount')) {
          // console.log('has discount param')
          if (!getCookie('discount')) {
            setCookie('discount', checkUrlParams('discount').toUpperCase(), 3);
          }
          var discountCode = getCookie('discount');
          $('.mwmc--wrapper .mwmc--discount-row').show();
          $('.mwmc--wrapper .js--discount-code--target').text(discountCode);
          $('form[action="/checkout"]').attr('action','/checkout?discount='+discountCode);
          // apply to checkout forms
          // set cookie and pass to CHECKOUT URLs
        } else {
          // no code
        }

        $('body').on('click', '.js--item-qty--trigger', function(event){
          event.preventDefault();
          var lineitemKey = $(this).closest('.mwmc--lineitem').attr('data-lineitem-key');
          var $qtyInput = $(this).closest('.mwmc--quantity--wrapper').find('.js--item-qty--target');
          var variantId = parseInt($qtyInput.attr('data-variant-id'));
          var newQty = parseInt($(this).attr('rel'));
          if ($('.mwmc--wrapper').hasClass('has-upsell-item')) {
            if (!($(this).closest('.mwmc--lineitem').hasClass('mwmc--upsell-item'))) {
              if (newQty == 0) {
                alert('Please remove second item.');
                return false; 
              }
            }
          }

          if (newQty == 0) { 
            $(`.mwmc--lineitem[data-lineitem-key="${lineitemKey}"]`).remove(); 
          }

          $.ajax({
            type: 'post',
            url: '/cart/update.js',
            async: false,
            data: {
              updates: {
                [variantId]: newQty,
              } 
            },
            dataType: 'json',
            error: function(){
            },
            success: function(data){
              refreshMiniCart(false);
              //ajaxCart.load();
              return true;
            },
            cache: false
          });

        });
        
        $.ajax({
          type: "POST",
          url: '/cart/clear.js',
          success: function(){
            refreshMiniCart(false);
            //ajaxCart.load();
            return true;
          },
          dataType: 'json'
        });

        $('#AddToCartForm').on('submit', function(event){
          event.preventDefault();
          var formData = $(this).serialize();
          
          $.ajax({
            type: 'post',
            url: '/cart/add.js',
            async: false,
            data: formData,
            dataType: 'json',
            error: function(){
            },
            success: function(data){
              refreshMiniCart(true);
              return true;
            },
            cache: false
          });
        });

        $('.venobox').venobox({
          overlayColor:'-webkit-linear-gradient(180deg, rgba(82,82,82,0.7903536414565826) 0%, rgba(92,92,92,1) 100%)',
          closeBackground: 'transparent',
          closeColor: '#ffffff',
          spinner: 'three-bounce'
        });

        $('.reviews-slider').slick({
          centerMode: true,
          centerPadding: '100px',
          lazyLoad: 'progressive',
          slidesToShow: 3,
          slidesToScroll: 5,
          infinite: true,
          dots: true,
          arrows: true,
          draggable: true,
          nextArrow: '<i class="fa fa-arrow-right large_clear"></i>',
          prevArrow: '<i class="fa fa-arrow-left large_clear"></i>',
          cssEase: "ease",
          responsive: [
            {
              breakpoint: 992,
              settings: {
                dots: true,
                centerMode: true,
                centerPadding: '75px',
                slidesToShow: 3,
                infinite: true,
                autoplay: false,
                autoplaySpeed: 9000,
                adaptiveHeight: false,
              }
            },
            {
              breakpoint: 768,
              settings: {
                dots: true,
                centerMode: true,
                centerPadding: '30px',
                slidesToShow: 1,
                infinite: true,
                autoplay: false,
                autoplaySpeed: 9000,
                adaptiveHeight: false,
              }
            }
          ] 
        });
        
        $(window).on('load resize orientationchange', function() {
          $('.specs').each(function(){
            var $carousel = $(this);
            if ($(window).width() > 991) {
              if ($carousel.hasClass('slick-initialized')) {
                $carousel.slick('unslick');
              }
              var element = $('#ProductPhotoImg').detach();
              $('#desktop-product-img').append(element);
            }
            else {
              if (!$carousel.hasClass('slick-initialized')) {
                $carousel.slick({
                  dots: true,
                  centerMode: true,
                  centerPadding: '0',
                  slidesToShow: 1,
                  infinite: true,
                  autoplay: false,
                  autoplaySpeed: 9000,
                  adaptiveHeight: false,
                  arrows: true,
                  nextArrow: '<i class="fa fa-arrow-right large_clear"></i>',
                  prevArrow: '<i class="fa fa-arrow-left large_clear"></i>',
                });
              }
              var element = $('#ProductPhotoImg').detach();
              $('#mobile-product-img').append(element);

            }
          });
          
        });

        $(window).scroll(function(){ 
          var offset = 0;
          var top = $(window).scrollTop();
          if ($("#stickystart").offset().top < top) {
            $("#stickybuy").addClass("sticky");
          } else {
            $("#stickybuy").removeClass("sticky");
          }
          if ($("#stickyend").offset().top < top) {
            $("#stickybuy").removeClass("sticky");
          }
        });
        $('#AddToCart').click(function() {
          $("#stickybuy").hide();
          $("#stickycart").show();
        });   
        /*$.getJSON('/cart.js', function(cart) {
          if (cart.item_count != 0) {
            refreshMiniCart(false);
            $("#stickybuy").hide();
            $("#stickycart").show();
          }
        });*/

        var allPanels = $('#faq dd').hide();
        $('#faq dt').click(function() {
          allPanels.slideUp();
          $(this).next().slideDown();
          return false;
        });
        
        $(document).on('click', 'a[href^="#"]', function (event) {
          event.preventDefault();
          $('html, body').animate({
            scrollTop: $($.attr(this, 'href')).offset().top
          }, 100);
        });

        $("video").click(function(){
          this.paused ? this.play() : this.pause();
        });
        
        $(".youtube").click(function(ev){
          $(this).find('.iframewrapper').show();
          $('iframe',this)[0].src += "?playsinline=1&autoplay=1&rel=0";
        });
        
        $(".gallery-item").click(function(){
          $(".gallery-item").removeClass('active');
          $(this).addClass('active');
          var imgurl = $('img',this).prop('src');
          $('.gallery-img-head').attr('src',imgurl);
          if ($(this).hasClass("big-ball")) {
            $(".gallery-caption h3").text('Big Ball');
            $(".gallery-caption p").text('Perfect for large muscle groups like hips, thighs, and arms');
          } else if ($(this).hasClass("arrow-head")) {
            $(".gallery-caption h3").text('Arrow Head');
            $(".gallery-caption p").text('Provides deep tissue massage; effective for pain points');
          } else if ($(this).hasClass("flat")) {
            $(".gallery-caption h3").text('Flat');
            $(".gallery-caption p").text('A more relaxing massage, suitable for the whole body');
          } else if ($(this).hasClass("fork")) {
            $(".gallery-caption h3").text('Fork');
            $(".gallery-caption p").text('Designed to massage the neck, spine, and achilles tendon');
          } else if ($(this).hasClass("tri-head")) {
            $(".gallery-caption h3").text('Tri-Head');
            $(".gallery-caption p").text('Works best on the neck, shoulder, and back areas');
          }
        });
        
          var countDownDate = new Date("{{ settings.mw_holiday_timer }} 23:59:59").getTime();
                                       
          // Update the count down every 1 second
          var x = setInterval(function() {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("holiday-countdown").innerHTML = 
              "<div>" + days + "<span>Days</span></div>" 
            + "<div>" + hours + "<span>Hours</span></div>"
            + "<div>" + minutes + "<span>Minutes</span></div>" 
            + "<div>" + seconds + "<span>Seconds</span></div>";

            // If the count down is finished, write some text
            if (distance < 0) {
              clearInterval(x);
              document.getElementById("holiday-countdown").innerHTML = "EXPIRED";
            }
          }, 1000);

        // END  
      });
    </script>
    
    <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=U7XsFN"></script>
 <!-- Start of reathlete Zendesk Widget script -->
      <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=b848615a-4a49-4220-b649-4282241aef34"> </script>
<!-- End of reathlete Zendesk Widget script -->
  </body>
</html>